[2016-08-11 13:39] azabluda opened #1 "b28f4a8 - fixed bug for SingleOrDefault / FirstOrDefault"
The bug b28f4a8 seems to be fixed in `RemoteQueryProvider` but not yet in `AsyncRemoteQueryProvider`. Could you please have a look? Thanks a lot!

[2016-08-12 23:57] 6bee commented on #1
Thanks for reporting. It's fixed in [8f75dd8](https://github.com/6bee/Remote.Linq/commit/8f75dd81c880090e093f7c4aa7ac45249c115af6) version [5.4.0-alpha-004](https://www.nuget.org/packages/Remote.Linq/5.4.0-alpha-004).

[2016-08-12 23:57] #1 closed, assigned to 6bee

[2016-12-17 15:03] azabluda opened #2 "JsonSerializer and XmlSerializer don't serialize DynamicObject.Type property"
I extended `When_using_dynamic_object_for_complex_object_tree` class with one more test

[code]

It passes with `BinaryFormatter`, `DataContractSerializer` and `NetDataContractSerializer`, but fails with `JsonSerializer` and `XmlSerializer`.

[2016-12-20 10:53] azabluda commented on #2
Accidentally submitted to the wrong repo. Moved to https://github.com/6bee/aqua-core/issues/4

[2016-12-20 10:53] #2 closed, assigned to nobody

[2017-01-26 11:17] azabluda opened #3 "GroupBy with SelectMany causes System.ArgumentException"
Standard sample application `samples\RemoteQueryable\0_Standard\Client\Demo.cs`
[code]
I change the query to `repo.Products.GroupBy(p => p.Id).SelectMany(g => g)` and (obviously) expect the identical results.

Unfortunately the program crashes
[code]

[2017-02-01 08:39] 6bee commented on #3
Thank you so much for reporting this issue.
the bug should be resolved in  b236280 version 5.4.0-alpha-009
UPDATE: Integration build is failing, something is still wrong.
UPDATE2: resolved now.

[2017-02-01 12:17] azabluda commented on #3
Ouch, just one line :sweat_smile:  Good job, thank you!

[2017-02-01 12:17] #3 closed, assigned to 6bee

[2017-02-02 14:39] azabluda opened #4 "SelectMany from a constant sequence"
Add the following test to `Remote.Linq.Tests.RemoteQueryable.When_running_query` class
[code]
The first two queries work fine, but the last one fails with
[code]

This example may look a bit constructed, but unfortunately we are getting the same error in more practical situations when the LINQ expression is built dynamically, e.g. from the Remotion.Linq model. The expression builder (over which we

[2017-02-09 10:37] azabluda opened #5 "Unwanted reduction of ConstantExpression of type Nullable<bool>"
Under certain conditions `LinqExpressionToRemoteExpressionTranslator` reduces binary expressions to unary ones

- https://github.com/6bee/Remote.Linq/blob/5.4.0-alpha-009/src/Remote.Linq/ExpressionVisitors/ExpressionTranslator.cs#L271
- https://github.com/6bee/Remote.Linq/blob/5.4.0-alpha-009/src/Remote.Linq/ExpressionVisitors/ExpressionTranslator.cs#L293

Although it is a clever thing to do, it d

[2017-02-10 11:28] azabluda opened #6 "ExpressionType.TypeIs is poorly supported"
Add another test to `Remote.Linq.Tests.RemoteQueryable.When_running_query`
[code]
[code]

[2017-02-10 16:14] azabluda opened #7 "ParameterExpression lookup by name"
Apparently it isn't quite impossible to have an expression with essentially different parameters sharing the same name in overlapping scopes. An interesting example can be found in EntityFrameworkCore's [Where_subquery_expression_same_parametername](https://github.com/aspnet/EntityFramework/blob/rel/1.1.0/src/Microsoft.EntityFrameworkCore.Specification.Tests/QueryTestBase.cs#L1612) test.
[code]
As

[2017-02-15 17:39] 6bee commented on #7
Commit 190bb62 has been deleted since mistakenly referencing this issue in commit message.

[2017-02-18 03:16] 6bee commented on #5
This should be solved in a18ec91
Release 5.4.0-alpha-011

[2017-02-18 03:17] 6bee commented on #6
This should be resolved in 5.4.0-alpha-011

[2017-02-22 10:49] azabluda commented on #5
A handful of tests started to fail after updating our project to 5.4.0-alpha-011. Please see https://github.com/6bee/Remote.Linq/commit/a18ec91283339d7dcedf9e06db578b5a97a35f93#commitcomment-20974906.

[2017-02-25 16:13] azabluda commented on #4
Work fine with Remote.Linq.5.4.0-alpha-013

[2017-02-25 16:13] #4 closed, assigned to 6bee

[2017-02-25 16:13] azabluda commented on #5
The remaining issues are gone. Tested with Remote.Linq.5.4.0-alpha-013.

[2017-02-25 16:13] #5 closed, assigned to 6bee

[2017-02-25 16:14] azabluda commented on #6
Confirmed. Thanks a lot!

[2017-02-25 16:14] #6 closed, assigned to 6bee

[2017-03-01 12:46] abrasat opened #9 "Supported target frameworks ?"
Is it possible to use Remote.Linq with Windows 10 UWP respectively with Xamarin.Forms applications?

[2017-03-01 15:19] 6bee commented on #9
You can using current alpha version `5.4.0-*` which is targeting `net451` and `netstandard1.6`
http://stackoverflow.com/questions/38181004/can-i-build-uwp-with-net-core

[2017-03-01 15:29] abrasat commented on #9
The information whether UWP supports NetStandard 1.6 or only NetStandard 1.4 is quite confusing, that is why i asked if there is some practical feedback regarding RemoteLinq usage in UWP.

[https://github.com/dotnet/standard/issues/132](url)

[2017-03-01 16:04] 6bee commented on #9
You're right and I've actually no practical prove for this platforms.

According to [this table](https://github.com/dotnet/standard/blob/master/docs/versions.md#net-standard-versions) with `netstandard1.6` Xamarin.Android 7.0 and Xamarin.iOS 10.0 should be supported but not UWP10.

I'll see what I can do about UWP10. Would you be happy to give it a try with Xamarin?

[2017-03-02 06:17] abrasat commented on #9
I dont have a Xamarin project right now, but I will try to write a demo in the next days and test RemoteLinq.

[2017-03-02 14:37] 6bee opened #10 "Support Universal Windows Platform"
Since UWP10 support was withdrawn from `netstandard1.6` we should aim to add support for UWP explicitely: target platform `uap10.0`

see .NET Standard Versions [table](https://github.com/dotnet/standard/blob/master/docs/versions.md#net-standard-versions)

[2017-03-02 14:39] 6bee commented on #10
This is basically dependant on https://github.com/6bee/aqua-core/issues/10

[2017-03-02 14:40] 6bee commented on #9
I've crated a new issue for adding UWP10 support: #10

[2017-03-03 03:21] 6bee commented on #7
I like the idea of `ParameterExpression` to carry an `InstanceId`. This way we support serializers which would not allow reference tracking like XmlSerializer.
I didn't add `IsReference=true` on `Expression` types for now, i.e. potentially serializing the same instance multiple times within the same query and then consolidating `ParameterExpression` after deserialization based on `InstanceId`.

[2017-03-03 03:21] 6bee commented on #7
Version `5.4.0-alpha-014` supports different parameters sharing the same name in overlapping scopes.

[2017-03-03 12:59] azabluda commented on #7
I would love to try it out, but it looks like https://www.nuget.org/packages/Remote.Linq/5.4.0-alpha-014 image is broken (compiled against wrong version of Aqua?). After updating to `aqua-core.4.0.0-alpha-041` and `Remote.Linq.5.4.0-alpha-014` we started to receive a lot of errors:
[code]
I tried to decompile `packages\Remote.Linq.5.4.0-alpha-014\lib\net451\Remote.Linq.dll` with ReSharper and it s

[2017-03-03 15:07] 6bee opened #12 "Deserialization needs fixing for Json.NET"
Json deserialization fails using `Remote.Linq.Newtonsoft.Json 5.4.0-alpha-015`:
[code]

[2017-03-03 15:12] 6bee commented on #7
Absolutely, there must have been a clash of package versions of `aqua-core` packages when building.
Please use version `5.4.0-alpha-015`

[2017-03-03 16:13] azabluda commented on #7
Fantastic work! :+1:

[2017-03-03 16:13] #7 closed, assigned to 6bee

[2017-03-05 01:24] 6bee commented on #12
Resolved. Use version `Remote.Linq.Newtonsoft.Json 5.4.0-alpha-017`

[2017-03-05 01:24] #12 closed, assigned to 6bee

[2017-03-05 01:37] 6bee opened #13 "Announcement: Newtonsoft.Json (Json.NET) Configuration for Remote.Linq"
Dependency on `Newtonsoft.Json` moved from `Remote.Linq` to package `Remote.Linq.Newtonsoft.Json` as of version `5.4.0-alpha-017`.

To enable JSON serialization for `Remote.Linq` using `Newtonsoft.Json` please include `Remote.Linq.Newtonsoft.Json` in your project and used the provided extension method to configure `JsonSerializerSettings`:
[code]

[2017-03-05 01:38] #13 closed, assigned to nobody

[2017-03-08 14:10] azabluda opened #14 "DataContract serialization fails for const arrays"
We run into another issue with dynamically built LINQ queries which contain `ConstantExpression`s of type array. This time the query crashes during serialization. Similar to #4 it works fine when the array is represented by a `NewArrayInitExpression` but fails when a (seemingly equivalent) `ConstantExpression` is being used.

Please run the following test in the `Remote.Linq.Tests.RemoteQueryable.

[2017-03-09 01:38] 6bee commented on #14
should be resolved in `5.4.0-alpha-020`

[2017-03-09 10:03] azabluda commented on #14
Looks great!

I just noticed that Microsoft in their specification tests also expects [List<>](https://github.com/aspnet/EntityFramework/blob/rel/1.1.0/src/Microsoft.EntityFrameworkCore.Specification.Tests/QueryTestBase.cs#L5324)'s to behave similarly to [arrays](https://github.com/aspnet/EntityFramework/blob/rel/1.1.0/src/Microsoft.EntityFrameworkCore.Specification.Tests/QueryTestBase.cs#L5309).

[2017-03-10 11:24] 6bee commented on #14
Agreed!
`IEnummerable<>` are now treated the same as array in `aqua-core`.
And all arrays are created as `object[]` when mapped to `DynamicObject` to prevent serialization issues.

Please update to `Remote.Linq 5.4.0-alpha-021` and `aqua-core 4.0.0-alpha-045` respectively.

[2017-03-10 11:49] azabluda commented on #14
Almost there! :smile:

I just tried your solution with an _empty_ array and received a `System.ArgumentNullException`
[code]
The same is happening with empty `List<>`s too. It looks like empty collections are replaced with nulls somewhere on the way.

[2017-03-10 14:14] azabluda opened #15 "Trivial anonymous projections lead to InvalidDataContractException"
`DataContractSerializer` fails on both queries
[code]

[2017-03-15 20:14] 6bee commented on #15
Thanks for reporting this issue.
It should be resolved in version `Remote.Linq 5.4.0-alpha-022`

[2017-03-15 20:19] 6bee commented on #14
Your thorough testing is highly appreciated :thumbsup:

The issue should be resolved in version `Remote.Linq 5.4.0-alpha-022`

[2017-03-16 09:35] azabluda commented on #15
Yep, thanks a lot!

[2017-03-16 09:35] #15 closed, assigned to 6bee

[2017-03-16 09:40] azabluda commented on #14
Nailed it! :ok_hand:

[2017-03-16 09:40] #14 closed, assigned to 6bee

[2017-03-16 12:40] azabluda opened #16 "Expressions containing DateTimeOffset can not be serialized with DataContractSerializer"
[code]
fails with `SerializationException`

[2017-03-30 21:26] 6bee commented on #16
Apparently, unlike other primitives, `DateTimeOffset` is not a known type to WCF by default as documented [here](https://msdn.microsoft.com/en-us/library/ms730167.aspx).

An option was to specify known types to the `DataContractSerializer` as in
[code]

However, I've added `KnownTypeAttribute`s to types in both `aqua-core` and `Remote.Linq` so passing these types to the serializer should not be re

[2017-03-30 23:36] 6bee commented on #16
should be resolved in version `5.4.0-alpha-024`

[2017-04-03 06:17] 6bee commented on #10
supported target frameworks: `net451`, `netstandard1.3` and `netstandard1.6`

[2017-04-03 06:17] #10 closed, assigned to 6bee

[2017-04-03 07:01] azabluda commented on #16
Confirmed. Thank you!

[2017-04-03 07:01] #16 closed, assigned to 6bee

[2017-04-03 07:54] azabluda opened #17 "Remote.Linq expressions with enums cause NotImplementedException"
I add a simple enum property to class `Remote.Linq.Tests.RemoteQueryable.QueryTestData.Product`
[code]
The following queries are failing
[code]
[code]

[2017-04-05 08:07] 6bee commented on #17
Resolved in `aqua-core 4.0.0-alpha-057` and `Remote.Linq 5.4.0-alpha-025`

[2017-04-05 09:27] azabluda commented on #17
:+1:

[2017-04-05 09:27] #17 closed, assigned to 6bee

[2017-04-05 11:06] azabluda opened #18 "ArgumentException : Argument types do not match"
Test `Should_query_product_categories_filterd_using_inline_enum` fails if I replace `==` with `.Equals`
[code]
[code]
In our scenarios we observed the same error with `.HasFlag` instead of `.Equals` for bit-field enums, but I believe the nature of the bug should be the same?

[2017-04-05 16:53] 6bee commented on #18
should be resolved in `Remote.Linq 5.4.0-alpha-026`

[2017-04-06 13:19] azabluda commented on #18
Yes, it works with naturally built expressions (which use `ConvertExpression` under the hood), but unfortunately still fails if the value is passed as a `ConstantExpression`
[code]

[2017-04-06 22:15] 6bee commented on #18
true, so we've got another fix available in `Remote.Linq 5.4.0-alpha-027`

thanks for reporting @azabluda :thumbsup:

[2017-04-07 10:06] azabluda commented on #18
Good job @6bee!

[2017-04-07 10:06] #18 closed, assigned to 6bee

[2017-04-28 14:02] azabluda opened #19 "Not really a bugreport this time but a HUGE CREDIT for your hard work!"
Hey @6bee!

Today I finally pushed the result of about 10 months of work on my own project [InfoCarrier.Core](https://github.com/azabluda/InfoCarrier.Core) which I'm sure will interest you as well.  Let me express my deepest gratitude to you for your amazing libraries Remote.Linq and aqua-core which I'm confidently relying on in my project. I would also be very thankful to you if you find a moment

[2017-04-28 17:01] 6bee commented on #19
Hi @azabluda

Thanks so much for this info and your words of praise.

Only having had a look at the description of InfoCarrier.Core so far, I understand this is exactly what I was after for month.
Having started back in 2009 with [N-Tier Entity Framework](https://ntieref.codeplex.com/) – which is actually where Remote.Linq is originating from – I was immediately raising hope to be able to use EF C

[2017-04-28 18:57] azabluda commented on #19
We looked at N-Tier EF a few years ago. Started long before EF.Core was even announced it was definitely ahead of its time, very ambitious and truly inspiring!
___

And I hope I convince you and other developers that it's already quite possible these days. That would be awesome to see eventually how well IC.Core copes with the tasks in your project(s).

[2017-05-10 10:52] #19 closed, assigned to nobody

[2017-05-10 19:29] RogerWaters opened #20 "Support Expression.Block"
Hi,
first Thanks for your fantanstic work.
For a project I need to Serialize an ExpressionTree that contains Expression.Block. Ist there any way I can easy extend your Translator to support this, without compiling remote linq by myself?

[2017-05-11 08:08] 6bee commented on #20
Hi,
Thanks for your request.
It's not possible to add this dynamically. However, I'm happy to add support for `System.Linq.Expressions.BlockExpression`.
Would you be able to come up with one or more test cases I may use for unit testing?

[2017-05-11 08:34] RogerWaters commented on #20
Hi,
I've created a test case for you to start with.
This formats an decimal value as String and replaces '.' with ','.
[code]

[2017-05-12 20:54] 6bee commented on #20
Thank you for the test case.
I've just pushed `Remote.Linq 5.4.0-alpha-028` with initial support for `Expression.Assign` and `Expression.Block`.

[2017-05-14 12:08] RogerWaters commented on #20
Hi,
thank you very much for supporting this.
I'm currently testing with some other cases and there are som other expressions I like to support. Also I know that it's hard work to do so.
Is it possible to help you supporting some more Expressions?
Currently I'm hanging on Goto, Label and Return Expressions.
Maybe I can give you more Test Cases?

[2017-05-15 06:13] 6bee opened #21 "Support `LabelExpression` and `GotoExpression`"
Following issue #20 we should try and add support for `LabelExpression` and `GotoExpression`...

[2017-05-15 06:15] 6bee commented on #20
I'm happy to give it a try and add support for `LabelExpression` and `GotoExpression`.
However, I should actually do this in a new version `5.5.0` and carry `5.4.0` to beta in parallel.

As it seems these expressions are used in many different ways and scenarios. It would be more than welcome if you could provide me with test cases, since I've no experience with these expression types myself.

I'v

[2017-05-15 06:16] #20 closed, assigned to 6bee

[2017-05-15 06:18] 6bee commented on #21
@RogerWaters please submit according test cases here or via pull request.

[2017-05-15 12:32] azabluda opened #22 "EnumerableQuery should not translate to QueryableResourceDescriptor"
Test `Should_query_products_filterd_using_local_variables_closure_inline_mix` fails if I pass a list of Ids as queryable
[code]
[code]
I think it should be sufficient to simply prevent translation of values of type `System.Linq.EnumerableQuery` to `QueryableResourceDescriptor`.

[2017-05-17 05:03] 6bee commented on #22
The current solution is to enumerate `EnumerableQuery<>` on client side, i.e. at the point of transforming to remote expression.

Also, I've moved version 5.4.0 to beta.
Hence, these changes may be tested using `Remote.Linq 5.4.0-beta-001`.

[2017-05-17 05:16] 6bee commented on #20
For info: this moved out of 5.4.0 release stream and may be tested using `Remote.Linq 5.5.0-alpha-001`

[2017-05-17 11:15] azabluda commented on #22
Almost there! If I declare `listOfIds` as `IQueryable<int?>` (or simply `var`) then it is still failing.

[2017-05-19 00:28] 6bee commented on #22
Although this makes sense, it's anything but straight!
I.e. if the `EnumerableQuery` gets included via closure, I had to re-compile this part of the expression to check on the actual value rather than on the type information which is always `IQueryable<>`.
Not ideal, but it seems to do the job.
Check out the new version `4.0.0-beta-002`

[2017-05-19 12:16] azabluda commented on #22
Yeah I see, this is indeed a bit tricky. Lastly would it be possible to convert `EnumerableQueryProxy<>` back to `EnumerableQuery<>` prior to execution of the tree on the remote end? Otherwise we may run into issues because actual data providers are likely to apply some major optimizations for special case of `EnumerableQuery`. A prime example is [EF.Core-1.1.2](https://github.com/aspnet/EntityFra

[2017-05-19 17:21] RogerWaters commented on #21
Hi,
I've added UnitTests for other expressions and solution for Label and Goto.
I hope to met your naming and coding conventions with this. It would be nice if you can merge it into 5.5.0 alpha to be available via nuget.
This issue can be resolved then if you don't find any other issues with this.
Best regards

[2017-05-21 00:56] 6bee commented on #22
`EnumerableQueryProxy<>` is actually not needed at all..... so it's gone.
Check out the new version `4.0.0-beta-003`

[2017-05-21 15:02] azabluda commented on #22
That [last commit](https://github.com/6bee/Remote.Linq/commit/b3c7a00482c0d08de115ddddb2255abeea5f0d34) is a blast! :+1:

[2017-05-21 15:02] #22 closed, assigned to 6bee

[2017-05-22 16:51] 6bee commented on #21
Thanks a lot @RogerWaters for your commits in PR #23 :thumbsup:
I merged them with my own development and fixed a few minor issues.
The tests are currently still failing and a few more expression types need to be supported to make them pass:
[code]

In case you have the capacity to add them, you're very welcome to rebase from `experimental` branch and commit to the existing PR.

[2017-05-23 05:25] 6bee commented on #21
Great, you're almost there!
I've merged PR #24 into `experimental` branch.
Still a few tests failing though:
[code]

You may want to build and test the entire solution using `pack.bat` from the root directory of the repository.

[2017-05-31 06:14] 6bee commented on #21
Thanks for the good work !
Merged all your commits back to master branch and pushed version `5.5.0-alpha-002` to nuget.

[2017-05-31 06:14] #21 closed, assigned to 6bee

[2017-06-01 12:22] azabluda opened #26 "ToRemoteLinqExpression swallows Take in SelectMany"
The following test fails
[code]
[code]
In the debugger I can see that the second `Take(1)` is gone after `ToRemoteLinqExpression`.

[2017-06-01 13:40] azabluda opened #27 "Unnecessary roundtrips during query execution"
The following query requires two roundtrips to execute
[code]
It would first evaluate `_categoryQueryable.Any()` and then `_productQueryable.Where(p => true && p.Id >= 1)`.

[2017-06-02 12:33] azabluda commented on #27
### Possibly related
Observed even more weird behavior
[code]

[2017-06-07 15:56] 6bee commented on #9
According [aspnet/Announcements#249](https://github.com/aspnet/Announcements/issues/249) we probably have to drop support for `netstandard` lower than version `2.0` in the near future.

This would imply that platforms like UWP may no longer update to new versions unless they catch up to .NET Standard 2.0

[2017-06-09 13:47] azabluda opened #28 "ParameterExpression without ParameterName"
According to [msdn](https://msdn.microsoft.com/en-us/library/dd728240(v=vs.110).aspx) one can create a `System.Linq.Expressions.ParameterExpression` without `ParameterName`. However in [`Remote.Linq.Expressions.ParameterExpression`](https://github.com/6bee/Remote.Linq/blob/5.4.0-beta-003/src/Remote.Linq/Expressions/ParameterExpression.cs#L31) it is marked as required, which leads to `JsonSerializa

[2017-06-13 06:15] 6bee commented on #28
resolved in `5.4.0-beta-004`
note: the issue was already fixed for version 5.5.

[2017-06-14 14:32] azabluda commented on #28
Fix confirmed. Thank you!

I discovered this issue while carrying out my EFC2 experiments. Today I switched this branch to _5.5.0-alpha_ anyway for some other reasons, so formally I wouldn't have needed this fix backported to 5.4.0. For the future, would you prefer if I indicate whether I need bugfixes in 5.4.0 or 5.5.0? For example, it would be sufficient to fix the other two open issues in _5.5.

[2017-06-14 14:41] 6bee commented on #28
How critical do you consider #26 and #27 for version 5.4.0?
I had planned to make 5.4.0 final by end of this month. However, I'm not sure if I'll find the time to have a look at the remaining issues until then. Hence, if ok with you I could even make the final release of 5.4.0 within a day. So you could fix that version in your dependencies.

[2017-06-14 15:54] azabluda commented on #28
From my part the remaining two issues are not critical for 4.5.0 (mean 5.4.0?). However I wouldn't rush you with the "release within a day". If you had some other ideas for this version then I wait until the end of the month.

[2017-06-15 18:52] 6bee commented on #28
You're right, I meant version 5.4.0. Corrected my commend above.

[2017-06-15 18:52] #28 closed, assigned to 6bee

[2017-06-24 11:12] 6bee commented on #27
Both issues should be resolved with version `5.5.0-alpha-003`

[2017-06-24 11:13] 6bee commented on #26
Looks like this issue was fixed with the changes made for issue #27 and may be tested using version `5.5.0-alpha-003`

[2017-06-25 15:52] azabluda commented on #27
:+1:

[2017-06-25 15:52] #27 closed, assigned to 6bee

[2017-06-25 15:56] azabluda commented on #26
Thanks! The problem is gone, but wouldn't it be better to add a unit test to make sure the problem never reoccurs in the future?

[2017-06-25 23:09] 6bee commented on #26
I've added the test you reported in commit 2dad235.

[2017-06-25 23:09] #26 closed, assigned to 6bee

[2017-06-26 12:24] relaxdays-admin opened #29 "StackOverflow for ConstantTypeExpression"
Hi,
the following line kills with StackOverflowException:
`Expression<Func<Type>> transform = () => typeof(T);
LambdaExpression expression = transform.ToRemoteLinqExpression();`
I'm currently using 5.5.0 alpha 003 as I need some other features from this version. Version 5.4.1 semms to have the same issue.
Am I making some mistake?
Thanks for your help

[2017-06-29 17:14] 6bee commented on #29
Thanks for reporting.
The issue should be resolved using `Remote.Linq 5.5.0-alpha-004`

[2017-06-30 07:27] relaxdays-admin commented on #29
Thanks, works very well.

[2017-06-30 22:06] #29 closed, assigned to 6bee

[2017-07-05 13:33] azabluda opened #30 "InvalidOperationException: variable of anonymous type referenced from scope '', but it is not defined"
5.5.0-beta-001

[code]
fails with
[code]

[2017-07-05 15:25] 6bee commented on #30
Thanks for reporting.
Should be resolved in `Remote.Linq 5.5.0-beta-002`

[2017-07-06 07:09] azabluda commented on #30
Wow, that was some really outstanding performance! :star2: Thank you.

[2017-07-06 07:09] #30 closed, assigned to 6bee

[2017-07-06 12:47] azabluda opened #31 "Support Expression.Invoke"
There exist scenarios like https://github.com/aspnet/EntityFramework/issues/5445 where filter conditions are built dynamically using Expression.Lambda/Expression.Invoke. Apparently those aren't yet fully supported by Remote.Linq-5.5.0-beta-002.
[code]
fails with
[code]

[2017-07-06 20:07] 6bee commented on #31
Added support for `Expression.Invoke`
Please check out `Remote.Linq 5.5.0-beta-003`

[2017-07-07 10:37] azabluda commented on #31
Great job! 👍

[2017-07-07 10:37] #31 closed, assigned to 6bee

[2017-07-07 12:35] abrasat opened #32 "Store/load Remote.Linq queries"
Would be possible to store (and load) Remote.Linq queries to (for instance) a readable text format to (from) a file ?

[2017-07-07 12:52] 6bee commented on #32
In case you consider json or xml as readable... sure you can :-)
Although _Expressions_ tend to be rather lengthy.

You may want to have a look at a [json](https://github.com/6bee/Remote.Linq/blob/master/test/Remote.Linq.Tests/Serialization/JsonSerializationHelper.cs#L15) or [xml](https://github.com/6bee/Remote.Linq/blob/master/test/Remote.Linq.Tests/Serialization/DataContractSerializationHelper.c

[2017-07-11 20:38] #32 closed, assigned to 6bee

[2017-08-18 13:27] MattDarg opened #33 "Issue using EF6 with variable query argument"
I've got a Remote Linq expression I'm trying to execute against EF like below.

Client:

[code]

Server:
`remoteLinqExpression.Execute(t => cp.MyEntities).ToList();
`
which fails with 'Only parameterless constructors and initializers are supported in LINQ to Entities.'

I believe the issue is with this part of the expression tree:

[code]
because if I specify a string literal, rather than the vari

[2017-08-21 23:09] 6bee commented on #33
This issue seems specific to EF6 and doesn't exists in EF Core for instance.

While e.g. the following query works well:
[code]
The following query throws:
[code]

Due to this fact I suggest fixing this issue in Remote.Linq.EntityFramework by modifying the expression tree to ensure creation of `VariableQueryArgument` using parameterless constructors: 6bee/Remote.Linq.EntityFramework/issues/1

[2017-08-21 23:09] #33 closed, assigned to 6bee

[2017-08-21 23:16] 6bee commented on #33
Please use either nuget package `Remote.Linq.EntityFramework` or `Remote.Linq.EntityFrameworkCore` according your EF version and apply the following code server-side:
[code]

Requires `using Remote.Linq.EntityFramework;` or `using Remote.Linq.EntityFrameworkCore;` accordingly.

[2017-08-22 16:04] azabluda opened #34 "RLinq translation of new DateTime() throws NullReferenceException"
[code]

[2017-08-24 10:24] 6bee commented on #34
resolved in `Remote.Linq 5.5.1-beta-001`

[2017-08-24 10:24] #34 closed, assigned to 6bee

[2017-08-29 09:14] MattDarg commented on #33
Thanks for the quick fix (I re-tested and works fine with the above).

[2017-09-04 12:12] azabluda opened #35 "Premature evaluation of static properties"
We are experiencing a problem Remote.Linq-ing the new [EF.Functions.Like()](https://docs.microsoft.com/en-us/ef/core/what-is-new/index#effunctionslike) feature, and the reason is likely that RL is translating a static property access expression to a constant instead of leaving it "as is".

I made a little repro
[code]
[code]

[2017-09-05 20:55] 6bee commented on #35
Since expression evaluation may happen on client as well as server side, a corresponding filter may need to be applied on either side.

Server:
[code]
Client:
[code]

In case of **EF Core** you may apply specific methods from `Remote.Linq.EntityFrameworkCore` package, in order to get proper handling of `EF.DbFunctions` out of the box:
[code]
and
[code]

This API is available in `Remote.Linq 5.6.0-

[2017-09-06 05:58] 6bee commented on #9
Actually my assumption was wrong and it seems we can continue support for `netstandard1.3` and `netstandard1.6` while adding `netstandard2.0` as an additional target.
@abrasat Would you be able to share any experience using UWP10 with `netstandard1.3`?

[2017-09-21 06:01] 6bee commented on #35
A new package version `Remote.Linq 5.6.0-alpha-003` is available
where I've changed the factory method's name from `Create` to `CreateQueryable` and also completed the set of factory methods with `CreateAsyncQueryable` versison.

[2017-09-21 06:01] #35 closed, assigned to 6bee

[2017-09-21 11:47] azabluda commented on #35
Yes, this is exactly what I needed! 👍

And sorry for not being able to reply earlier :blush:, coincidentally you closed the issue on my first day at work after two-weeks holiday.

[2017-09-21 12:18] #9 closed, assigned to 6bee

[2018-01-15 17:57] gyurisc opened #36 "Deserialization of LambdaExpression fails when trying to recreate client side DisplayClass on the server side."
I have a Client Server setup where I am trying to use Remote.Linq to transfer expression from the client to the server process
and evaluate the expression on the server. I have a following simplified expression:
[code]

When the Lambda expression is printed out it looks like this:

p => (Convert(p.State) == Convert(value(ExpressionSerialization.Program+<>c__DisplayClass1_0).state))

And the remote

[2018-01-15 21:09] 6bee commented on #36
Looks like you're trying the hard way ;-)

It's easier to use 'RemoteQueryable.Factory.CreateQueryable<T>(...)' like shown in the sample in the readme. This way some helpers take actions to e.g. substitute DisplayClass types.

However, to keep full control you may call ToRemoteLinq on your own and then further process the expression before sending it to the server. Have a look at the code in 'Remo

[2018-01-15 21:38] gyurisc commented on #36
Thanks for the quick answer. I will look into the suggestions and come back to you. My intended solution is to somehow replace those DisplayClass types.

[2018-01-17 15:41] 6bee commented on #36
Actually no, what I suggested has no effect in your case. Also, if you only want to pass a predicate expression what you're trying looks good as well.
The issue looks like a shortcoming of remote.linq itself....
I'll try to have a look.

[2018-01-17 15:58] gyurisc commented on #36
Hi Christof,

I got to the same conclusion with your first suggestion after trying to
debug it. I was wondering if your second suggestion
 'Remote.Linq.DynamicQuery.RemoteQueryProvider.TranslateExpression(...)'
can do the trick like replacing a sub expression similar to this
Convert(value(c_DisplayClass).active) with its actual value?

Thanks for looking into this.

Krisztian

On Wed, Jan 17, 2018

[2018-01-18 12:30] 6bee commented on #36
I just published a new version `Remote.Linq 5.6.1-beta-001` which should resolve the issue.
Please let me know whether it works.

[2018-01-19 16:32] gyurisc commented on #36
This looks good to me. Thanks for your help!

[2018-01-19 16:32] #36 closed, assigned to 6bee

[2018-01-22 07:30] 6bee commented on #36
Great,
Just published `Remote.Linq 5.6.1`
Thanks a lot for reporting and your feedback.
Best regards, Christof

[2018-01-22 19:54] gyurisc commented on #36
Hi Christof, thanks a lot for your awesome support. Really impressed :)
Krisztian
On 2018. Jan 22., Mon at 8:30, Christof Senn <notifications@github.com>
wrote:

[2018-06-19 07:47] Mansu12135 opened #38 "StackOverflowException on ToRemoteLinqExpression"
Hi, I have System.StackOverflowException when I call ToRemoteLinqExpression. Can you help me?

[code]

[2018-06-19 23:01] 6bee commented on #38
The issue is caused by 6bee/aqua-core#18

[2018-06-21 23:38] #38 closed, assigned to 6bee

[2018-06-21 23:47] 6bee commented on #38
fixed in version `5.7.0-alpha-001`

Note: Action and function delegates are not supported when targeting `netstandard1.x`.

[2018-07-16 18:32] sdmckenna9 opened #39 "n-Tier Entity Framework (ntieref) still active?"
Hi Christof,
  We just stumbled across your ntieref library, and we're excited about using it. However, we noticed that no new builds have been posted in over 2 years (1.9), and the "Issues" tab has been closed down.
  Is the ntieref still active? Also, are there any other middle-tier libraries like the ntieref that we should be considering using? We're being forced by our server team NOT to conne

[2018-07-16 22:47] 6bee commented on #39
Hi,
Thanks for your message.
Unfortunately ntieref is not actively maintained any longer. It has actually only been migrated from codeplex to ensure availability of the source code.
The main consideration for ntieref is the dependecy on the edmx, which you tipically don't have in code first scenarios. While ef migrations still use a form of the edmx model, it's never actually been tried out for nt

[2018-07-16 22:47] #39 closed, assigned to nobody

[2018-07-16 23:22] sdmckenna9 commented on #39
Hi Christof,

  Thanks so much for your detailed response and advice. We will look into the Remote.Linq, and someone else mentioned we should check out Trackable Entities (https://github.com/TrackableEntities/trackable-entities).

Your ntieref was a jewel, sir!

[2018-07-19 19:12] sdmckenna9 opened #40 "Documentation question and download incomplete..."
Hi there,
  I'm a previous user of your N-Tier library, and I really appreciated the User's Manual that you had included in the doc folder. Is there any user/developer documentation available for the Remote.Linq?
  Also, this may be me not being totally familiar with how to download stuff from GitHub, but the only way to download that I know of is by clicking on the "Clone or Download" button whil

[2018-07-20 14:26] 6bee commented on #40
You may find various samples in a separate repo: https://github.com/6bee/Remote.Linq-Samples
There is no comprehensive user guide documentation though.

[2018-07-20 14:26] #40 closed, assigned to nobody

[2018-07-20 14:35] sdmckenna9 commented on #40
Got it, thanks so much!

[2018-08-16 08:22] KarloX2 opened #41 "FieldAccessException on composing a LINQ (to EF) query on the frontend side"
Hi!

After adding this member to my EF (6.2, code-first) entity class:

`public const string MY_CONST = "Something";
`

I run into a **FieldAccessException** on the client side on composing the Linq query for remote execution thrown by the Aqua.Dynamic.DynamicObjectMapper, I tried to add the `[NonSerialize]` attribute to that member but that didn't help. For the time being I changed the const into

[2018-08-17 16:40] 6bee commented on #41
Good catch, I do agree!
I've create an new issue in 6bee/aqua-core/issues/21 since the fix has to be applied in `aqua-core`.

[2018-08-17 16:44] #41 closed, assigned to 6bee

[2018-09-04 15:12] aszego opened #43 "How to map results to a different object?"
I need to work with similar but differently named objects on client and server side.
It seems that `ITypeResolver` is there to solve this issue.
So I pass my implementation of ITypeResolver:

`var employees = Remote.Linq.RemoteQueryable.Factory.CreateQueryable<Employee>(..., typeResolver: resultMapper: new EmployeeResolver());`

However, `EmployeeResolver.ResolveType` is never hit.

[2018-09-04 21:15] 6bee commented on #43
Good catch, thanks for reporting.
`typeResolver` parameter of this method was actually never used.

For mapping type information contained in the query results you have to specify the `mapper` parameter instead:
[code]
However, this is only one part of the solution. Unless you want to translate types on the server side too, you also need to map type information sent from client to server as part o

[2018-09-05 12:17] aszego commented on #43
Thanks!
With your suggestions, my EmployeeResolver gets hit now.

However, on the server-side I get an exception - seemingly, EmployeeQueryableResourceDescriptorProvider only partially resolves Employee2 (client-side) to Employee (server-side):

System.ArgumentException: Expression of type 'System.Linq.EnumerableQuery`1[LinqTest.Employee]' cannot be used for parameter of type 'System.Linq.IQueryab

[2018-09-05 13:47] 6bee commented on #43
You're right, the current fix only works for very simple queries. I'm currently working on a more advances solution...

[2018-09-05 22:02] 6bee commented on #43
Hi @aszego

Please update to the latest version and replace your implementation of `IQueryableResourceDescriptorProvider` with `Aqua.TypeSystem.ITypeInfoProvider`.

A change was needed in `aqua-core` to properly support this scenario.

I've edited my comment above to reflect the current state.

Thanks again!

[2018-09-05 22:03] #43 closed, assigned to 6bee

[2018-10-10 16:16] mike-barnett opened #44 "Why doesn't Remote.Linq have a strong name?"
Is there a particular reason that it does not have a strong name?

[2018-10-10 19:12] 6bee commented on #44
So far I didn't see a reason to have a strong name. However, I'm happy to hear your opinion about it.

[2018-10-11 16:02] mike-barnett commented on #44
There are execution scenarios where non-strongly-named assemblies are rejected: anything where the code is being executed without full trust or certain deployment requirements. However your assembly has a dependency on Aqua.dll and that also is not strongly-named so we would need to have that changed as well. Thanks!

[2018-10-19 18:07] badrishc commented on #44
+1 strong naming would be great, thanks.

[2018-10-22 23:57] 6bee commented on #44
strong named assemblies as of version
`aqua-core 4.5.1`
`Remote.Linq 5.8.1`

[2018-10-22 23:57] #44 closed, assigned to 6bee

[2018-10-31 16:50] fartwhif opened #45 "Feature request for asynchronous data provider support."
I tried to use Remote.Linq client side in an asynchronous manner.  I might be doing it wrong, if not then please add support for this:

[code]

[2018-10-31 20:45] fartwhif opened #46 "EF6, StackOverflowException [SOLVED]"
When trying to get this working (possibly incorrectly),  if the EF connection of the context for a CodeFirst setup is left in the default behavior (open, exec, close) an exception is thrown: `The connection is not open.`  why, I do not know, it's expecting the connection to be opened for it, so I go ahead and do that,  I manually open the connection and it results in a stack overflow:
[code]

[2018-11-01 20:46] fartwhif commented on #46
Upon delving into it, I've found that:

File DynamicQueryResultMapper.cs line `return base.MapToDynamicObjectGraph(obj, setTypeInformation);` within this is causing the stack overflow:

[code]

[2018-11-02 18:05] fartwhif commented on #46
solved / worked around both problems

First, you have to make a new context with your existing connnection setting the "is owner" parameter to false and open the database before executing.

Second, you have to change the EF6 Context configuration to disallow proxy class generation: `DbContext.Configuration.ProxyCreationEnabled = false;`  This should probably be added to the documentation.

The ser

[2018-11-02 18:09] fartwhif commented on #45
Actually I'm not even sure this is something determined by Aqua or Remote.Linq, but by Linq, and it probably can't have this kind of feature.

[2018-11-18 08:39] KarloX2 opened #47 "Remote access to larger blobs (byte arrays) rather slow"
Hi!

I use a remote repository in my asp.net MVC web application to access a EF entities from another locally running backend service. The entities contain largerer blob values which are mapped to byte array members. This works like a charm, except that getting such a blob of - says - 3 MB can take a few seconds, which I think is rather long. Is this the performance I should expect? Any advice how

[2018-11-18 21:05] 6bee commented on #47
Assuming the blob data being part of the query result it could be many different places along the communication pipeline are even more than one summing up to 'a few seconds':
- query data source
- materializing entities
- mapping entities to dynamic objects
- serializing dynamic objects
- transport
- deserializing dynamic objects
- mapping dynamic objects to entities

You might try utilizing timer

[2018-11-19 06:24] KarloX2 commented on #47
Hi Christof!

Thanks for this explanation. Trying to figure out which step may consume the most time, I create a few samples. Below is a very simple one that just serialized + deserialized an object similar to the entity class I' using.

[code]

On my computer the output is:

Serializing took: 00:00:04.5820573
Deserializing took: 00:00:01.2834494

(~5.9 seconds for 10 Megabyte!) which I think is a

[2018-11-19 08:18] KarloX2 commented on #47
I created a PR here: https://github.com/6bee/aqua-core/pull/25

This patch brings down the measured time in the sample case to nearly zero. Is this safe?
Can you please review?

Thanks!
Karlo

PS: Continuous Integration threw a number of errors which I don't understand. Can you help?

[2018-11-22 08:27] KarloX2 commented on #47
FYI: I was able to achive the same (very significant) performance improvement in my app by deriving my own DynamicObjectMapper class that employs an object that implements the IIsKnownTypeProvider interface with this method implementation:

[code]

So I can solve the problem without changing the Aqual.dll

However, I think that this should be the default behavior? The gain is a 90+ % performance i

[2018-11-23 21:51] #47 closed, assigned to nobody

[2018-11-23 21:56] 6bee commented on #47
@KarloX2
Thank you so much for your valuable input.
I would even go this far to consider ´byte[]´ a native type adding support for formatting as string (Base64).

[2018-11-23 22:16] 6bee commented on #46
_ProxyCreationEnabled_ is never a good idea when it comes to serializing entities since this might lead to unwanted additional db queries.

[2018-11-23 22:16] #46 closed, assigned to nobody

[2018-11-23 22:39] 6bee commented on #45
Did you consider using `RemoteQueryable.Factory.CreateAsyncQueryable<Filter>(_dataProvider)` (note the async in the method name)?
Would this satisfy what you're trying to achieve?

[2018-11-24 19:34] fartwhif commented on #46
I have found something interesting.  If you disable proxy classes, and you execute a query that ends up pulling entities that should be part of other entities in the same query, EF automatically adds the references needed to make the relationship tree of the resultant entities.

I'm still learning EF, it might be common knowledge, I just thought it was neat to have that feature even when using Rem

[2018-11-24 19:41] fartwhif commented on #45
Perhaps. I will try and see if I can test this.  It would help immensely if it works.

[2018-11-25 12:00] 6bee commented on #45
1) Using proxies, EF loads related entities at the time of accessing corresponding reference properties **after** executing the main query (e.g. when serializing).
2) Not using proxies, there are two main options for loading related entities as part of the main query:
a) by explicitly adding `Include(...)` to your linq query
b) by accessing corresponding reference properties as part of a projectio

[2018-11-25 12:01] 6bee commented on #46
1) Using proxies, EF loads related entities at the time of accessing corresponding reference properties **after** executing the main query (e.g. when serializing).
2) Not using proxies, there are two main options for loading related entities as part of the main query:
a) by explicitly adding `Include(...)` to your linq query
b) by accessing corresponding reference properties as part of a projectio

[2018-11-28 09:32] Ilchert opened #48 "Missing overload in AsyncRemoteQuerable"
I am using Remote.Linqe with OData endpoint and it uses `IQuerable` instead of `IQuerable<T>` to build queries, but `AsyncRemoteQueryable` does not have an overload for `IEnumerable.GetEnumerator` so it uses the base one from `RemoteQueryable`. But this implementation tries to deserialize to the `IEnumerable` interface with an exception: 'Failed to pick matching constructor for type System.Collect

[2018-11-28 22:01] 6bee commented on #48
Thanks for reporting @Ilchert !
The issue is resolved in `Remote.Linq 5.8.2`

[2018-11-28 22:01] #48 closed, assigned to 6bee

[2018-11-29 04:40] Ilchert commented on #48
Thanks! It is the fastest fix ever!

[2018-11-29 18:19] fartwhif commented on #45
When using it this way it blocks the calling thread during execution, is there something I'm doing wrong, is this how System.Linq is expected to work?  The good news is that when an exception is thrown in the data provider procedure WPF doesn't permanently crash, at least in this solution it was when using synchronous.  You can close it if blocking during execution was expected.  Thanks again!

[c

[2018-11-29 20:00] fartwhif commented on #45
updated to `Remote.Linq 5.8.2`  problem remains.  the other guy got it to work so I wonder what I'm doing wrong

[2018-11-30 00:03] 6bee commented on #45
Remote linq adds a bunch of extension methods providing async versions like `IEnumerable<T>.ToListAsync()` which you may use in place of standard linq methods like `IEnumerable<T>.ToList()`.

[2018-12-04 14:30] fartwhif commented on #45
After switching to your async extension method I noticed that it was still somewhat blocking, i dug into my solution and was able to find where the async/await pattern was broken in my API, fixed that, and now async/await is working all the way up.

Thanks very much for your help.

[2018-12-04 14:30] #45 closed, assigned to nobody

[2018-12-04 14:32] 6bee commented on #45
Hi @fartwhif
Thanks for your feedback. I'm glad to hear it works.

[2019-01-16 12:31] ibrahimsabek opened #49 "System.ArgumentException : Argument types do not match"
There is an issue in deserializing serialized expressions with nested and multiple parameters as shown in the following code snippet. It gives the "Argument types don't match" error. We used "Remote.Linq 5.6.1" and "Newtonsoft.Json 11.0.2", and we tried both ".net46" and ".netcoreapp2.0" target frameworks.

[code]

[2019-01-17 14:46] 6bee commented on #49
Thanks for your message.

Before I dig into this, can you please reference package `Remote.Linq.Newtonsoft.Json` and call `ConfigureRemoteLinq` to configure JsonSerializerSettings:
[code]
Please let me know whether the issue persists.

[2019-02-01 17:35] ibrahimsabek commented on #49
Thanks for your reply. Your suggestion solved the problem.

[2019-02-01 17:35] #49 closed, assigned to nobody

[2019-05-24 21:45] dave-schneider-ila opened #50 "asyncExecuteWithEntityFramework"
Hi,
I have not been able to find a way to execute a EF6 query async on the server.
I am currently using the following in my webapi query method.
var results = query.Expression.ExecuteWithEntityFramework(Context);
I sort of expected to find ExecuteWithEntityFrameworkAsync method.
Is this something the you never got to? Maybe you did not feel it is nessesary?

[2019-05-28 06:16] 6bee commented on #50
Hi Dave
Thanks for the request - I almost feared no one would ever ask for it ;)
Hope you don't mind testing. `Remote.Linq 6.0.0-beta001`

[2019-05-28 16:27] dave-schneider-ila commented on #50
Did a very quick test and seems to work perfect.
Really appreciate the quick response.

[2019-05-29 19:43] dave-schneider-ila commented on #50
Really appreciate you coding up the async server methods.

[2019-05-29 19:43] #50 closed, assigned to 6bee

[2019-05-29 21:52] 6bee commented on #50
Thanks for the positive feedback!
Following the discussions around the new `IAsyncEnumerable<>` interface included in C# 8.0, I'm still wondering how `IAsyncQueryable<>` is going to consolidate. Nevertheless, It makes perfect sense to support EF's own implementation as already available. Thanks again for your request.

[2019-06-17 11:30] azabluda opened #51 "Remote.Linq 5.8.2 with aqua-core 4.5.2 gives "System.ArgumentException""
The two latest official releases of `Remote.Linq` and `aqua-core` don't always play well together. The simplest way to reproduce the problem is to check out [Remote.Linq v5.8.2](https://github.com/6bee/Remote.Linq/tree/5.8.2) and replace the following lines in `test/Remote.Linq.Tests/Remote.Linq.Tests.csproj`

[code]

with

[code]

The two tests will fail

[code]

[2019-06-17 13:13] 6bee commented on #51
Using json library for both packages avoids the version mis-match and seams to resolve the issue:
[code]

[2019-06-18 07:52] 6bee commented on #51
Background:
The issue arises since project dependencies may currently not be set to a fix version but get always translated to `>=` package version with `dotnet pack`. This may result in version mis-match like in this case.
However, I would prefer not do apply a custom hack to the build pipeline for the time being.
See [here](https://github.com/NuGet/Home/issues/5525) and [here](https://github.com

[2019-06-18 07:52] #51 closed, assigned to 6bee

[2019-06-18 09:48] azabluda commented on #51
Yeah, that makes sense. I just tested your approach in our environment – works good again! Thanks a lot.
 :+1:

[2019-06-25 04:44] LucaGabi opened #52 "Is this secure ?"
Hi,

If this project exposes dbcontext for operations on the client (it's not clear it dose so) is it secure as to what operations it allows to be performed from the deserialized linq ? Can it also do insert, update or delete ?

Thanks!

[2019-06-25 07:30] 6bee commented on #52
`Remote.Linq` does not expose an Entity Framework dbcontext but it’s _IQueryables_ only. That is – as the name implies – the framework provides LINQ functionality across processes or hosts. And that is read-only.

Write operations (insert/update/delete) have to be implemented by other means if needed. [InfoCarrier.Core](https://github.com/azabluda/InfoCarrier.Core) might be interesting for such sc

[2019-07-19 23:50] KaugEru opened #53 "ToLinqExpression does not resolve 'VariableQueryArgument' correctly"
Having the following code:

`CaseInfo info = new CaseInfo();`
`CaseInfo info2 = new CaseInfo();`
`info2.ID = 1;`
`info.Where( ci => ci.ID == info2.ID )`

The "where" method is an extension:

`public static void Where<T>(this T source, Expression<Func<CaseInfo, bool>> criterias) `
`{`
`    var remoteexpr = criterias.Body.ToRemoteLinqExpression();`
`    var linqexpr = remoteexpr.ToLinqExpression();`

[2019-07-20 23:00] 6bee commented on #53
Assuming your question is, why is the original expression, i.e. argument type `CaseInfo` and the property accessor `get_Id`, not persisted in the remote expression.
One could possibly argue whether this is a design issue. The default behavior is to shrink the expression without missing any relevant information to execute the expression on a remote host. This is done by evaluating arguments like `i

[2019-08-02 12:58] azabluda commented on #52
I'd rather be concerned by a greater security issue than insert/update/delete (which `Remote.Linq` indeed doesn't expose).

Please correct me if I'm wrong, but with RL a client can easily send a LINQ query which calls an arbitrary CLR function on the server. So I can for example dump the content of the server's `C:\WINDOWS` directory by sending a `.Select(x => Directory.GetFiles())` expression fro

[2019-08-05 07:02] #53 closed, assigned to 6bee

[2019-08-20 08:48] Ilchert opened #54 "Breaking changes in 6.0"
I see that you throw `InvalidProviderException` on `ExecuteAsync`, previously it just runs query synchronously without exception. What the purpose of this decision?  I have some places which use `ToArrayAsync` and for testing I just pass `array.AsQueryable` and now it fails. Could you introduce a new extensions method `AsRemoteAsyncQueryable`?

[2019-08-21 08:51] 6bee commented on #54
In previous versions (i.e. before version 6.0.0) `Remote.Linq` would just have executed the query in an async `Task.Run(() => ...)` which defeats the purpose.

However, seeing the loss of convenience for testing, I'm thinking about adding support for creating testing-stubs for `IRemoteQueryProvider` and `IAsyncRemoteQueryProvider` based `IQueryables<>` more easily.
Any thoughts?

[2019-08-21 10:28] Ilchert commented on #54
Now, to fix tests, I just added this method and use them instead of `array.AsQueryable`. How do you think it can have a side effect? It has a big overhead and creation special stubs for `IRemoteQueryProvider` and `IAsyncRemoteQueryProvider` will be better, but it is too sophisticated for me :).

[code]

[2019-08-21 12:12] 6bee commented on #54
Unfortunately your approach doesn't work since it allwas returns the whole source collection, rather than applying the query.
What you can do, however, is to mimic the server side too (i.e. execute the query expression):
[code]

This is what I've done in my tests so far, however, it seems a bit sophisticated too ;-)

[2019-08-21 12:23] Ilchert commented on #54
Ohhh, thanks! Maybe you can just add this extension to the library? :) And then replace implementation to fakes.

[2019-08-23 08:20] 6bee commented on #54
Please find a new extension method `IEnumerable<T>.AsRemoteQueryable()` in namespace `Remote.Linq.TestSupport`:
[code]

Please note: The extension method's implementation is slightly different from the one suggested above. In order to allow joining different queryables, the underlying data collections don't get replaced with `QueryableResourceDescriptor`. Apart from this, processing should be same

[2019-08-23 08:22] Ilchert commented on #54
Awesome, thanks!

[2019-08-23 08:24] #54 closed, assigned to 6bee

[2019-09-05 12:41] Ilchert opened #55 "SingleOrDefault does not work"
Hello, I am trying to use `SingleOrDefaultAsync` method and it fails when nothing was found.

example code in unit tests

[code]

[2019-09-05 13:20] Ilchert commented on #55
Please look at the pull request. It fixes the bug, but maybe I missed something.

[2019-09-05 17:23] 6bee commented on #55
Thanks a lot for submitting the issue as well as the pull request. It's much appreciated.
I've made a few amendments and released `6.1.0-beta-002` for testing.

[2019-09-05 17:23] #55 closed, assigned to 6bee

[2019-10-04 11:53] openalex opened #57 "Bug. Deserialized ConditionalExpression in the "if False"part does not work."
ConditionalExpression in the "if False"part does not work after deserialization. That is, the alternative condition "else"does not work.

How to reproduce the bug on Remote.Linq version 6.1.0 in project on .Net Core 2.2:

               var condition = Expression.MakeBinary(ExpressionType.LessThan, Expression.Constant(5), Expression.Constant(2));
               ConditionalExpression ifThenElseExpr

[2019-10-04 23:16] 6bee commented on #57
Thank you for reporting this issue.
There was a bug which is resolved in `Remote.Linq 6.1.1`

[2019-10-04 23:16] #57 closed, assigned to 6bee

[2019-10-18 10:06] pazicb opened #58 "Error StackOverflowException"
Hello,
I use
var repo = new RemoteRepository("localhost", 8899);
var partner = await repo.Partner.ToListAsync();
dataGridView1.DataSource = partner;
In version 5.8.2, everything works fine.
In versions 6.0.0, 6.1.1 and 6.2.0 I get this error:
Process is terminated due to StackOverflowException in Remote.Linq.dll.

In these versions this example doesn't work: 10_UsingJsonSerializationOverTcpAsync.

[2019-10-18 18:09] 6bee commented on #58
Using current version of `10_UsingJsonSerializationOverTcpAsync` (Remote.Linq-Samples/commit  a12b428) I dint get any exception but it looks like there is a dead lock. Apparently the behavior is the same with version 5.8.2. I'm not sure what happend here since I believe this used to work.
However, when updating to any version 6.x.x and replacing the obsolete method with their new version `RemoteQu

[2019-10-18 18:31] pazicb commented on #58
Thank you for answer
In version 6.2.0-alpha-002 I get the message "Process is terminating due to StackOverflowException".
In version 6.1.1 it freezes without a message.

[2019-10-18 19:42] 6bee commented on #58
Absolutely! Thanks for the clarification.
Please replace obsolete method call `RemoteQueryable.Factory.CreateAsyncQueryable` by `RemoteQueryable.Factory.CreateQueryable`. The exception is caused by the faulty implementation of the method which is marked obsolete.

[2019-10-18 21:03] 6bee commented on #58
Published fixed version `6.1.2` and `6.2.0-alpha-003`

[2019-10-18 21:03] #58 closed, assigned to 6bee

[2019-10-19 06:21] pazicb opened #59 "Random Object using Linq"
Hello,
why doesn't work
var rnd = new Random ();
var partner = await repo.Partner.OrderBy (x => rnd.Next ()). ToListAsync ();
or
var partner = await repo.Partner.OrderBy (x => Guid.NewGuid ()). ToListAsync ();?
The OrderBy command is ignored.

Thank you for answer.

[2019-10-19 13:11] 6bee commented on #59
The reason is that the parameter to orderby gets evaluated locally on the client side. The resulting expression looks something like this:
[code]
Hence, all items get sorted by the same value and therefore the orderby has no effect on the outcome.

You might want to make use of the optional parameter `canBeEvaluatedLocally` to pass in a function that allows you decide which parts of your query are

[2019-10-19 13:48] 6bee commented on #59
Actually, I just had to fix another bug. `6.2.0-alpha-004`

You may use the following working example:
[code]

Make sure to specify this method on both, client side and server side to prevent evaluation before transmission as well as before execution of the expression.
client:
[code]
server:
[code]

[2019-10-20 07:44] pazicb commented on #59
Thank you for answer. I don't know how to create _dynamicObjectMapper. Could you please build random OrderBy into an example?

[2019-10-20 07:52] pazicb commented on #59
Thank you for answer. I don't know how to create _dynamicObjectMapper. Could you please build random OrderBy into an example?

[2019-10-20 08:38] pazicb commented on #59
How would the CanBeEvaluatedLocally method change if I wanted to use this:
var rnd = new Random();
var partner = await repo.Partner.OrderBy(x => rnd.Next()).ToListAsync();

[2019-10-20 11:44] 6bee commented on #59
It's in the sample you've been referring to: [Remote.Linq-Samples/RemoteQueryable/10_UsingJsonSerializationOverTcpAsync/Server/QueryService.cs](https://github.com/6bee/Remote.Linq-Samples/blob/a12b428b4226fc432d1bf8cce514f25b2fa8e652/RemoteQueryable/10_UsingJsonSerializationOverTcpAsync/Server/QueryService.cs#L20)

var rnd = new Random();
var partner = await repo.Partner.OrderBy(x => rnd.Next()).T

[2019-10-20 11:55] pazicb commented on #59
Thank you. What linq commands execute on the client when CanBeEvaluatedLocally returns true?
I have tested the size of the returned data and it looks like "Take" is always done on the server.

[2019-10-20 15:58] 6bee commented on #59
It's actually not a linq command but an expression out of the whole expression tree resulting from your linq expression(s).
There's quite a bit of logic around this and there is no simple answer to this. What's important is that returning false means it's not evaluated locally. Returning true, leaves it open to further conditions to decide whether local evaluation should be performed.

[2019-10-20 16:42] pazicb commented on #59
Thank you for answer. You have written an excellent product.

[2019-10-20 16:49] 6bee commented on #59
Thank you!

[2019-11-11 21:08] hannesthor opened #60 "Expression.Call without type"
Hello, I am trying to use the library with a 3rd party control which I have no control over.
It uses the following to get counts from the IQueryable, which results in a type error.

[code]
Is there currently a way I can configure your library to return an int in this case?
I could hack the "AsyncRemoteQueryProvider" as follows, but I'm thinking there may be a way to accomplish this without forking

[2019-11-12 10:42] frankiDotNet commented on #9
Hello,
any problems with .Net Core 2.0 here ? Will this library work without problems?

[2019-11-12 10:56] 6bee commented on #9
@Franki1986

No known issues, currently.

Yes, it's supposed to.

Feel free to open new issues in case of any specific questions or issues.

[2019-11-12 12:20] #60 closed, assigned to 6bee

[2019-11-12 12:22] 6bee commented on #60
Thanks for reporting.
Since every expression contains the type of it's result, it was possible to solve this in a generic way.
Please check out version `6.2.0-beta-001`.

[2019-11-12 12:23] #59 closed, assigned to 6bee

[2019-11-12 15:36] hannesthor commented on #60
Thank you, really appreciate it - will check out the new version.

[2019-11-14 08:37] pazicb opened #67 "BSON (Binary JSON) Serialization"
Hello,
could you add an example usingBsonSerializationOverWebApi? For Bson you can use eg https://www.newtonsoft.com/json/help/html/SerializeToBson.htm.

Thank you.

[2019-12-27 16:12] pazicb opened #66 "Protobuf-Net"
Hello,
could you build an example usingBinarySerializationOverTcpAsync with product of Protobuf-Net, which provides very fast serialization and deserialization?

Thank you.

[2020-01-27 10:39] CollinAlpert opened #61 "Error when using classes which implement IEnumerable"
When using an IEnumerable's (extension) `.Contains` method inside an expression, if the source collection is not a `List<T>` but for example a `WhereSelectArrayIterator`, the query fails with the exception
[code]
However, if I materialize the IEnumerable with `.ToList` before calling `.Contains`, everything is fine.

How would I go about it to not get an exception when I do this? I don't really wa

[2020-01-27 17:30] 6bee commented on #61
Since trying to project into `System.Linq.Enumerable+WhereSelectArrayIterator'2[System.String,System.String]` you appear to be operating on an in-memory collection using `IEnumerable`-extensoins rather than `IQueryable`-extensions on a remote collection. I'm not sure why that is.
Would it be possible to provide any sample to reproduce the issue, ideally a PR with a unit test?

[2020-01-28 08:10] CollinAlpert commented on #61
That's because I want to call the `.Contains` on an in-memory collection and not on one on the database.

I've created a PR with a reproduction.

[2020-01-28 08:36] 6bee commented on #61
I see, thanks a lot for the PR which clarifies the scenario.
I'm not convinced however, passing the `IEnumerable<string> filteredPeoplesNames` as an argument to the remote query should be allowed at all. If you think about it, this would require the whole `List<LookupItem>` to be serialized and sent to the remote query service. Whereas eventually only a list of strings (consisting of one single el

[2020-01-28 08:39] CollinAlpert commented on #61
I see, thanks for the clarification. However, this erroneous behavior only started occurring after I upgraded from version 5.3.1 to 6.1.2. When using version 5.3.1, everything worked fine. Could you tell me what changed?

[2020-02-03 10:10] CollinAlpert commented on #61
Any updates on this?

[2020-02-04 04:37] 6bee commented on #61
Thanks for insisting. It actually looks like being a bug.
I’m not sure where exactly is was introduced, since quite a few things changed from version 5.3.1 (released Jan 2016) and 6.1.2 (released Sept 2019).

[2020-02-04 07:53] CollinAlpert commented on #61
Yes, I know it's a long time. Shame on me for this big jump in versions 😄
Thanks for checking it out!

[2020-03-02 09:13] CollinAlpert commented on #61
Any updates on this? Can I provide any additional information to help?

[2020-03-04 12:16] 6bee commented on #61
Still in progress. Found a way  to circumvent the issue but it's causing to much collateral. I'm sorry it's taking so long.

[2020-03-04 12:51] CollinAlpert commented on #61
No problem, I just wanted to inquire if you were still on it. Thanks again!

[2020-03-04 13:57] 6bee commented on #61
please test using `Remote.Linq` `6.2.0-beta-003`

[2020-03-23 09:01] CollinAlpert commented on #61
Looking good! Thanks!

[2020-04-03 20:46] #61 closed, assigned to 6bee

[2020-05-15 11:18] DominicBurford opened #63 "cannot resolve symbol ConfigureRemoteLinq"
I have just instaled the nuget package for Remote.Linq and am trying to create a simple serialise / deserialise methods. Unfortunately I am getting an error whereby my code doesn't seem able to resolve the ConfigureRemoteLinq() extension method for JsonSerializerSettings.

[code]

[code]

I have a using statement for Remote.Linq and everything instaled just fine. Any ideas why I'm gettng the error

[2020-05-15 11:58] 6bee commented on #63
Please make sure to reference `Remote.Linq.Newtonsoft.Json` nuget package.

[2020-05-15 12:53] DominicBurford commented on #63
I've installed that and that's resolved the problem. However I've now run into a different problem.

`Could not create an instance of type Remote.Linq.Expressions.Expression. Type is an interface or abstract class and cannot be instantiated. Path 'Expression', line 1, position 14.`

Here's my unit test to show how I'm invoking the serialisation / deserialisation methods (posted above).

[code]
Any

[2020-05-15 13:32] DominicBurford commented on #63
Many thanks for the reply. That's fixed the issue.

[2020-05-15 13:32] #63 closed, assigned to 6bee

[2020-05-15 14:07] 6bee commented on #63
It's the type specified causing the problem, since it's only an abstract base type but not the actual type you're expecting:
[code]
By specifying `LambdaExpression` instead of `Expression`, Json.net knows the target type it needs to create.

Alternatively you may want to try latest dev version of `Remote.Linq` currently `6.3.0-alpha-003` which transparently overcomes this limitation. You may get t

[2020-05-15 15:37] DominicBurford opened #64 "What is the equivalent of the Compile() and Invoke() methods for executing an Expression?"
I'm serialisng / deserialising a Remote.Linq Lambda expression so I can execute a dynamic query from our client application. Normally to execute an Expression I would invoke the Compile() and Invoke() methods to invoke the Expression. Remote.Linq Expressions don't seem to have such equivalents.

Here's my unit test which may explain more clearly what I'm trying to achieve.

[code]

After deseriali

[2020-05-15 16:05] 6bee commented on #64
Please check out the samples. I'm planning to move these into ~the same~ this repo, but for now it's found here: https://github.com/6bee/Remote.Linq-Samples

[2020-05-15 20:29] R4ND3LL opened #65 "How tightly coupled is this with Aqua DynamicObject?"
We have a client/server app with POCO entities (client doesnt have any reference to storage system like EF).  We have a query object model that we use to get entities.  Looking to enhance this by adding support for client linq.  Nice job on the project!

I noticed that, while setting up a simple service model test for this project, it returns DynamicObject models from the **ExecuteWithEntityFramew

[2020-05-16 00:04] 6bee commented on #65
Thanks for your request.
If it's for client/server communicating over some network I wouldn't be so much concerned about performance of object mapping.
Nevertheless, it seems like a valid point to be able to completely replace the mapping and serialization handling. And I have to admit I haven't done this yet.
However, it's not that hard I suppose. You probably could just create your own expressio

[2020-05-16 00:18] 6bee commented on #64
To give you some more background: You may just convert a remote-linq-expression back into a system-linq-expression and use compile and invoke to have it executed. However, this is not what you actually want in a client-server-scenario to let the client query data from a server:
1) Client defines a query for given data sets and query operations. The client's data source is the server.
2) The client

[2020-05-16 00:31] R4ND3LL commented on #65
Wow. thanks for the fast response.  This is actually the exact same result I arrived at after I posted the question.
It is working in my test case now, so I'll expand on this.

Our current DAL is 100% custom and performs fast.  Introducing LINQ will add a lot of value in terms of code readability, enhanced query functions, and better integration with UI controls etc.

But, I want to minimize the p

[2020-05-16 18:51] 6bee commented on #65
Merged the samples repo into this one today and just realized there was already a demo available for your scenario which I had already forgotten about:
https://github.com/6bee/Remote.Linq/blob/f680ce6b106f32a20f35f76e13cc5900f62bced0/samples/RemoteQueryable/03_CustomExpressionExecutor/Server/CustomExpressionExecutor.cs#L17

I've now renamed the sample app to make it more clear.

The client code sh

[2020-05-16 18:55] 6bee commented on #64
Moved the samples repo into this one today.
Please have a look at this sample and let me know in case you need further assistance:
https://github.com/6bee/Remote.Linq/blob/f680ce6b106f32a20f35f76e13cc5900f62bced0/samples/RemoteQueryable/00_Basic/Server/QueryService.cs#L52

[2020-05-16 21:55] 6bee commented on #67
https://github.com/6bee/Remote.Linq/blob/2768395038cc0c11866de80166b86c631e9bfcc2/samples/RemoteQueryable/18_UsingBsonSerializationOverTcp/Common/BsonFormatter.cs#L13

[2020-05-16 21:55] #67 closed, assigned to 6bee

[2020-05-16 22:46] 6bee commented on #52
### Least Privilege
There is a sample application demonstrating sandboxing a server using Code Access Security (CAS) with AppDomain:
https://github.com/6bee/Remote.Linq/blob/8bb5f06f9a4ef0ff6945d1824af29f22b0ae5018/samples/SandboxedServer/DemoStartUp/Program.cs#L37

However, AppDomains are not supported on .NET Core and CAS is no longer considered as security boundary (see https://docs.microsoft.c

[2020-05-18 08:49] Ilchert opened #68 "Async stream query execution"
Do you have any plans to support async query execution? Like [`ToArrayAsync`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.entityframeworkcore.entityframeworkqueryableextensions.toarrayasync?view=efcore-3.1) in Ef.Core.

Also, it would be great to use `IAsyncEnumerable` inside `Remote.Linq.ToArrayAync` to load data partially.

[2020-05-18 09:14] 6bee commented on #68
Async query execution is already supported end to end.

That's a bit of a different story, since the typical scenario involve data transmission over the network. Maybe you can elaborate a bit more on your use case to clarify how async streams would outweigh the network overhead involved?

[2020-05-18 09:17] Ilchert commented on #68
Could you provide an example, how to use `Linq.Remote` to retrieve data from datbase asynchronously? I see only sync version `ExpressionExecutor.Execute`

[2020-05-18 09:21] Ilchert commented on #68
The reason is loading large amount of data, so to load 1M rows from database now it is loaded into server (inside `ExpressionExecutor.Execute`) then serialized as array of `DynamicObjects`, then deserialized on client to `List`. So in this case I have to keep in memory whole result set (in server and in client), which consumes a lot of memory.

[2020-05-18 09:28] Ilchert commented on #68
Also thanks for the quick feedback!

[2020-05-18 09:46] 6bee commented on #68
https://github.com/6bee/Remote.Linq/blob/10e28bccf090e53c1b241155eeccc97e38a82c1e/samples/RemoteQueryableToEntityFrameworkCore/Client/RemoteRepository.cs#L41

Then just use any .*LinqOperation*Async() extension method provided by remote.linq.

If I'm not wrong, `IAsyncEnumerable` would mean one round-trip to the server for every single item? Why not apply paging (`Take` and `Skip`) instead?

[2020-05-18 09:56] 6bee commented on #68
Thinking about it (which takes a bit of time to kick-off as it seams) there most likely are use cases for remote.linq to support `IAsyncEnumerable`. However, I think they're different from your scenario as it seams to fit more to the observable pattern. That is you don't query a (large) set of data but data generated asynchronously (e.g. event driven) which you'd want to wait for and consume as oc

[2020-05-18 09:59] Ilchert commented on #68
Thanks for the sample, I found necessary source code [here](https://github.com/6bee/Remote.Linq/blob/4830939660d2e101bd73764b763c1fd2abdc2d87/src/Remote.Linq.EntityFrameworkCore/EntityFrameworkCoreExpressionExecutor.cs#L61)

It is an interesting idea, but it requires some additional synchronization with the database to avoid changes between page loading when loading whole data. Under the hood, I c

[2020-05-18 10:16] Ilchert commented on #68
Another advantage of usage `IAsyncEnumerable` and `IAsyncQueryProvider` is using [Reactive Extensions](https://github.com/dotnet/reactive/tree/master/Ix.NET/Source/System.Linq.Async.Queryable/System/Linq)

Thanks!

[2020-05-18 10:22] Ilchert commented on #68
I think you are right. But with introducing `IAsyncEnumerabe` it can be perfectly implemented with it.
In truth, I am trying to implement distributed cache over MS.Orleans which can be used like regular `IQueryable`. :)

[2020-05-18 10:36] 6bee commented on #68
Fair-enough, I'll take `IAsyncEnumerable` into consideration.

I'm pretty sure you have to deal with that as well using `IAsyncEnumerable` ;)

[2020-05-18 10:52] Ilchert commented on #68
You are awesome :) Thanks again!

[2020-05-18 12:00] 6bee opened #69 "Adding Support for `IAsyncEnumerable`"
C#8 comes with `IAsyncEnumerable` and various frameworks like EF core and Rx bring their support for it... so should remote.linq
ref #68

[2020-05-18 12:05] 6bee commented on #68
Thanks for your input. Created a separate issue for the task: #69

[2020-05-18 12:05] #68 closed, assigned to 6bee

[2020-05-18 18:17] DominicBurford commented on #64
I'm obviously missing something but I'm struggling to work out how to convert my deserialised **Expression** back into a system-linq-expression.

[code]

I've tried

[code]
I'm clearly missing something.

[2020-05-18 18:57] 6bee commented on #64
Maybe you want to have a look at the default implementation which transforms the remote expression back to system expression **and** applies it to the server's data source (`ReplaceResourceDescriptorsByQueryable`):
https://github.com/6bee/Remote.Linq/blob/10e28bccf090e53c1b241155eeccc97e38a82c1e/src/Remote.Linq/Expressions/ExpressionExecutor.cs#L40

[2020-05-18 20:45] 6bee commented on #64
Fast-foreward to `Compile()` and `Invoke()`:
[code]

However, as stated before this is not enough in common scenario and therefore unlikely to give you the result you would expect.

[2020-05-19 08:08] DominicBurford commented on #64
I'vr got this working using one of your extension methods for ToLinqExpression(). I had a look through the source code and got it working.

Many thanks for your help.

[2020-05-19 08:08] #64 closed, assigned to 6bee

[2020-05-19 13:42] R4ND3LL commented on #65
Thank you for the reply.  The sample is exactly like what we've been discussing.

However, even the demo is performing extra operations on the query result with the ToList() calls:

[code]

The ToList() operation executes the query, which internally returns an array of Product.  Then that result is repackaged into a new List.

Say the final destination of this collection is intended to be MyCustom

[2020-05-19 14:34] 6bee opened #70 "Execute the Queryable and return Result without extra Tranformation"
Based on #65 we'd like to see a new extension method included in remote.linq to execute and retrieve the result of an `IQueryable` without any extra transformation.

[2020-05-19 14:35] 6bee commented on #65
Awesome input, thank you! I've created #70 for implementation.
I'm also happy to accept PRs :)

[2020-05-23 23:48] #70 closed, assigned to nobody

[2020-05-23 23:58] 6bee commented on #65
Implemented #70 and updated the sample app accordingly: https://github.com/6bee/Remote.Linq/blob/bf2eaa8bde552716759e2c362217c1921d3c13ff/samples/RemoteQueryable/03_CustomResultHandler/Server/QueryService.cs#L35

In short: you're no longer forced to implement your own `ExpressionExecutor` for the scenario in question and `Execute` - extension methods are avaibale on both, client and server side, a

[2020-05-24 00:03] #52 closed, assigned to 6bee

[2020-06-01 23:08] 6bee commented on #66
Latest alpha version `6.3.0-alpha-025` adds support for protobuf-net serialization:
[code]

A corresponding sample app may be found in the samples folder:
https://github.com/6bee/Remote.Linq/blob/53bbd5ca3aa460fed653bf15947ebc2e2f3b989d/samples/29_RemoteQueryable_UsingProtobufNetSerializationOverTcp/DemoStartUp/Program.cs#L13

[2020-06-01 23:08] #66 closed, assigned to 6bee

[2020-06-01 23:10] 6bee commented on #65
Closing this issue as resolved. Feel free to reopen if needed.

[2020-06-01 23:10] #65 closed, assigned to 6bee

[2020-06-02 19:59] 6bee commented on #69
initial version is feature complete
`Remote.Linq.6.3.0-alpha-026`

[2020-06-02 19:59] #69 closed, assigned to 6bee

[2020-06-02 20:01] 6bee commented on #68
initial version of async stream support may be tested using current dev package:
[code]

[2020-06-05 07:00] Ilchert commented on #68
It is amazing! Thanks!

[2020-06-17 07:30] Ilchert opened #71 "Wrong dependency in nuget package."
Hello, I think there is a mistake in a published nuget package, it depends on the beta version of aqua.core.
![image](https://user-images.githubusercontent.com/13449633/84868534-84994e80-b085-11ea-8871-889e15738b4a.png)

[2020-06-17 08:10] 6bee commented on #71
Absolutely, thanks for raising this issue.
I've just release a corrected set of packages `Remote.Linq.6.2.3` depending on `aqua-core.4.6.4`

[2020-06-17 08:10] #71 closed, assigned to 6bee

[2020-06-17 08:14] Ilchert commented on #71
Thanks!

[2020-06-17 09:15] Ilchert opened #72 "Unnecessary reference to AsyncInterfaces"
Hello! The latest version of Remote.Linq has a [reference](https://github.com/6bee/Remote.Linq/blob/9a2e90cb855f803c699041a35b69b9978b1e434e/src/Remote.Linq/Remote.Linq.csproj#L14) to BCL.AsyncInterfaces for netstandard 2 and 2.1. But it is not required for Netstandard2.1 and .net core.
Also, the net standard has died :)
From [here](https://devblogs.microsoft.com/dotnet/announcing-net-5-preview-4-

[2020-06-17 11:09] 6bee commented on #72
thanks! I've added a condition on the package reference.
netstandard died as of .net5 which is currently in preview.
i.e. netstandard is likely to remain relevant for quite some time for earlier versions of .net and .net core etc.

[2020-06-17 12:08] Ilchert commented on #72
You are right about `netstandard2.0`, which is supported by the `Full` and `Core` .net, but `netstandard2.1` is supported only in `.net core 3` and also it has incompleted nullability marks on some classes (compared to latest .net core). So, in my opinion, it does not make sense to target `.net standard 2.1`, it is better to target `netcoreapp3.1`.

[2020-06-17 12:34] 6bee commented on #72
There's still a chance more platforms or frameworks are going to add support for netstandard2.1 in the future like UWP, Unity, etc. Hence, I can't see a reason the restrict to netcoreapp at this point.

[2020-06-17 12:51] Ilchert opened #73 "[Question] Why do not use a standard `IAsyncQueryProvider`?"
I am playing with the `IAsyncEnumerable` support, and do not understand why did not you use a [`IAsyncQueryProvider` ](https://github.com/dotnet/reactive/blob/f7429f53d660236880d7d04aa49e1e481fdcb098/Ix.NET/Source/System.Linq.Async.Queryable/System/Linq/IAsyncQueryProvider.cs#L14)?

It can bring into your project some advantages:
1. Remove `ToXXX`, `SingleAsync` and etc methods.
2. Get better synt

[2020-06-17 13:29] Ilchert commented on #72
That is fine, it was just my opinion :)

[2020-06-17 14:19] 6bee commented on #73
That's a fair question.
I don't want to bring in a dependency to Rx for Remote.Linq, as it's not quite the same. However, I'll give it a try to make it work anyway.

[2020-06-17 14:27] Ilchert commented on #73
I understand your reasons and it will be really helpful if you provide an example of how to convert `AsyncRemoteQueryable` to `IAsyncQueryProvider`.

Thanks!

[2020-06-25 13:01] R4ND3LL opened #74 "Expression model to string representation?"
Just wondering if you have created a string writer for your expression model that uses the Visitor pattern... output being some form of readable expression text or SQL, etc...

I have a need for making a text representation in order to identify and cache repetitive linq queries (client side).

I'm aware, I could also convert to Json but this would not be as efficient as a quick string build on the

[2020-06-25 13:07] 6bee commented on #74
I'm afraid there is nothing alike in remote.linq
...unless a rough representation (not including every detail) might be sufficient and you just want to use `ToString()`.

[2020-06-28 10:53] WillPhoenixLiu opened #75 "Is it possable only serialize and Deserialize System.Linq.Expressions.Expression or Remote.Linq.Expressions.Expression?"
Just wondering if it is possable only serialize and Deserialize System.Linq.Expressions.Expression or Remote.Linq.Expressions.Expression?
I have a need that the front end(asp.net mvc or react) only pass the criteria to the back end(Restful Web Api). So it don't need to expose the repository to the front end.
For example, we hope to serialize Expression<Func<Employee, bool>> to json , and then post

[2020-07-01 21:17] 6bee commented on #75
I'm not sure whether you mean from javascript (frontend) to webserver (backend) or from webserver (frontend) to application server (backend). Remote linq has no JS lib yet. Hence, it would only help in the later scenario.

[2020-07-02 07:02] WillPhoenixLiu commented on #75
If it could support both, that would be perfect.  webserver for frontend is what I need most.
It turns out a lib called Serialize.Linq can do such task. Please check the code below.
Client side:
[code]

Server side:
[code]

[2020-10-09 16:06] joer33304 opened #76 "Missing ThenInclude for EF?"
Looks like there is no implementation for Then Include. I assume there is no work around and this is just a missing feature ?

[2020-10-10 19:43] cryo75 opened #77 "How to use an expression visitor when deserializing back an expression?"
I have an expression on the client which looks like this:

`var results = someList.Select(p => p..Id).ToArray();
Expression<Func<MyObj, bool>> myexp = x => results.Contains(x.Id);`

The expression is serialized and sent to the server, which in turn deserializes it back to an expression. The string representation is:

`x => new VariableQueryArgument`1(value(System.Int32[])).Value.Contains(x.Id)`

I

[2020-10-13 17:04] cryo75 opened #78 "Only parameterless constructors and initializers are supported in LINQ to Entities."
I have this expression which I create on the client:

`
    var iso = "DE";
    var code = "636";
    var city = "Bad";
    var state = "Hes";

     Expression<Func<PostCode, bool>> p =
        x => x.Country.IsoCode == iso &&
        x.Code.Contains(code) &&
        x.City.Contains(city) &&
        x.State.Description.StartsWith(state);`

I then serialize it to JSON and deserialize it back on the

[2020-10-14 04:15] cryo75 commented on #78
Problem solved.

[2020-10-14 04:15] #78 closed, assigned to nobody

[2020-10-14 04:16] #77 closed, assigned to nobody

[2020-10-14 04:18] cryo75 opened #79 "Support NetStandard 2.0 and/or NetCoreApp3.1 for Remote.Linq.EntityFramework"
As EntityFramework 6.4 supports NetStandard 2.0, the Remote.Linq.EntityFramework package should support it also. I have a .NetStandard2.0 project that depends on EF 6.4 and Remote.Linq.EntityFramework.

[2020-12-22 08:22] pazicb opened #80 "MessagePack"
Hello,
could you build an example usingBinarySerializationOverTcpAsync with product of MessagePack-CSharp, which provides very fast serialization and deserialization?

Thank you.

[2020-12-22 13:35] #72 closed, assigned to 6bee

[2020-12-29 08:02] pazicb opened #81 "JsonSerializer"
Hello,
why in this case

private readonly Func<Expression, Task<IEnumerable<DynamicObject>>> _dataProvider;
public RemoteRepository()
   {
      _dataProvider = async expression =>
            {
               JsonSerializerSettings serializerSettings = new JsonSerializerSettings().ConfigureRemoteLinq();
               string json = JsonConvert.SerializeObject(expression, serializerSettings);

[2020-12-29 13:59] 6bee commented on #81
My first guess is that *json.net* doesn't know the actual type for deserialization.

Can you try if the following does work?
[code]

If that's the cause of the issue, you need to find a way to persist the type of the expression for deserialization. There are several options to achieve this.  In the samples you may find the [JsonFormatter](https://github.com/6bee/Remote.Linq/blob/facdc2c5f41a4d6851

[2020-12-29 14:22] 6bee commented on #80
Hi @pazicb, thank you for your suggestion.
We're also happy to accept pull requests.

[2020-12-29 16:47] pazicb commented on #81
Thank you very much, it works well.

[2020-12-30 06:40] pazicb commented on #81
Hello,
this example
[code]
works.

DeserializeObject is no problem.

When I do
`var queryExpression = new DynamicObjectMapper().Map<Expression>(deserializedDto);`
so it is also without problems.

But using queryExpression in ExecuteQueryAsync causes an error in the argument type.

[2020-12-30 06:46] pazicb commented on #80
Hello,
[MessagePack-CSharp](https://github.com/neuecc/MessagePack-CSharp) is very fast.

[2020-12-30 09:48] pazicb opened #82 "Protobuf-net"
Hello,
Remote.Linq.protobuf-net runs under .NETStandard 2.1. Would it be a problem to run under .NETStandard 2.0 if protobuf-net runs under .NETStandard 2.0?

[2020-12-30 14:30] 6bee commented on #82
Targeting `netstandard2.0` seems to be fine but updating to `protobuf-net` 3.0 and later imposes a challenge. Therefore I'm not sure we're getting beyond alpha status anytime soon.

[2020-12-30 22:38] 6bee commented on #81
Closing this issue with the assumption it was resolved.
Feel free to open a new issue concerning `ExecuteQueryAsync` issues in case needed. Ideally you could provide a repro.

[2020-12-30 22:38] #81 closed, assigned to nobody

[2020-12-30 22:46] 6bee commented on #79
`EntityFramework` package is actually targeting `netstandard2.1`, hence `Remote.Linq.EntityFramework` can target this framework too.
Updated packages have just been published as version `6.3.0-beta-001`.

[2020-12-30 22:46] #79 closed, assigned to 6bee

[2020-12-30 22:48] 6bee commented on #76
This feature has been implemented in `Remote.Linq` and a new set of packages was published as version `6.3.0-beta-001`.

[2020-12-31 01:13] 6bee commented on #75
Thanks for the sample code. I'm not sure how `ExpressionNode` could be created in non-C# code like javascript. Hence, I don't know what advantage *Serialize.Linq* would have over *Remote.Linq*?

[2021-01-06 12:11] enumero commented on #76
Thanks for this enhancement but ... what I want to query is something like this:

var customers = db.Customer
   .Include(c => c.Invoice).ThenInclude(c => c.InvoiceLine)
   .Include(c => c.SupportRep)
   .Where(c => c.FirstName.StartsWith("A"))
   .ToList();

Problem:  The second include ".Include(c => c.SupportRep)" won't work: "Microsoft.EntityFrameworkCore.Query.InvalidIncludePathError: Unable

[2021-01-06 13:57] 6bee commented on #76
@enumero absolutely, I'll take care of this flaw.

[2021-01-06 19:43] 6bee commented on #76
A patched version has been published as `6.3.0-beta-002`.

[2021-01-07 08:09] enumero commented on #76
Works like a charm. Thanks for quick fix!

[2021-01-07 09:48] 6bee commented on #76
Thank you very much for your feedback 👍

[2021-01-07 09:48] #76 closed, assigned to 6bee

[2021-01-31 23:41] joer33304 opened #83 "Can you please refactor to remove remote blocking call so it works with Blazor?"
Using Remote.Linq in Blazor web assembly results in "cannot wait on Monitor" error message. This is due to the use of Task.Result in a few locations.

[2021-02-01 21:17] 6bee commented on #83
Thanks for submitting this issue.
Can you make sure to only consume your queryables in an async manner, e.g. `ToListAsync()` instead of `.ToList()`?
If this doesn't help, I'd need as much information about the issue as possible. I small repro would definitely help.

[2021-02-03 07:58] lsoft opened #84 "DynamicObjectMapperException with protobuf-based transport"
Hello, 6bee!

I'm new here, and have almost 0 experience with Remote.Linq, so my trouble is primitive and naive probably but I cannot resolve it without help.

RemoteQueryable_Basic example works fine so I taken RemoteQueryable_Basic and make the following changes

0) I removed RLinq sources from this example and install a package RLinq v7-alpha-017 from myget instead (with few others packages).
1

[2021-02-04 22:42] 6bee commented on #84
Hi

What a nice thing to say - thank you so much!

You actually discovered a flaw that sneaked in with my latest changes. The issue should be fixed with version `7.0.0-alpha-018`.

And thanks a lot for providing a repro, this really helped a lot!

[2021-02-05 05:28] lsoft commented on #84
Thanks! It works with `7.0.0-alpha-018`.

[2021-02-05 05:28] #84 closed, assigned to 6bee

[2021-02-05 16:09] lsoft opened #85 "Send few expressions per network request"
Hello 6bee!

I need to send few expressions per each network request, because I want to execute them in one database transaction. I can't share a single database transaction across few network requests.

If I understand correctly one need to modify Remote.Linq to implement this feature. What do you think - is it feasible for a Remote.Linq-newbie like me? If so, could I ask you to draft me a way?

[2021-02-05 20:59] 6bee commented on #85
Unless I misunderstand your scenario, a transaction scope would be used within your RPC method implementation (e.g. `IQueryService.ExecuteQuery`). Also, one RPC would embrace more than one query and possibly write operations too.

Supposed on client side, expressions would still be created using `IQueryable<>` (which btw. is not mandatory), the queryables must not be enumerated but only crafted an

[2021-02-06 07:10] lsoft commented on #85
Thanks for the tips! Looks like it works in general.

Here is my prototype (protobuf serialization from https://github.com/6bee/Remote.Linq/issues/84 was used). Full repro: https://www.dropbox.com/s/3tja7cqq3jbvz8w/Remote.Linq.FewExpressions.7z?dl=0

[code]

I used `null` for arguments in `DynamicResultMapper` and `TranslateExpression`. Should I replace nulls with something else?

I never worked w

[2021-02-06 13:45] lsoft commented on #85
So... I've write a remote executor with method like

[code]
but it's not enough, because `First` `FirstOrDefault` and etc does not covered by this design.
Probably the following would be better:

[code]

but I don't know how to code it yet.

[2021-02-08 07:07] lsoft commented on #85
~Ok, I've played some more and what I have now:~

[code]

~The only disadvantage I found: anonymous types cannot be used here.~

~Would be cool if you take a look and give your comments :) Any comments and ideas are welcome!~

There was an incorrect information.

[2021-02-09 07:51] lsoft commented on #85
Demo: https://www.dropbox.com/s/i8ftuj3vwxg2zz1/3%20protobuf_rlinq7.0.7z?dl=0

this demo can work in 3 regimes:

1) local, run only `Client.csproj`
2) remote in-memory, run `Server.csproj` and then `Client.csproj`
3) remote in Sql Server, run `Server.csproj` and then `Client.csproj`

switching between regimes can be made with appropriate `#define`'s in the server's and client's `Program.cs`.

At t

[2021-02-10 10:09] lsoft opened #86 "DefaultIfEmpty fails where no results returns"
The following returns list with 1 element (that equals `null`):

[code]
The following **remote** linq expression fails:

[code]
with this exception:

[code]

during serialization `Aqua.Dynamic.PropertySet`.

Could you confirm/reject that this a bug in RemoteLinq (or in its samples)? (in different case I'm afraid I might be missing something in my code.)

Please let me know if full repro is needed.

[2021-02-10 12:39] 6bee commented on #85
Good to see you progressing.

That's perfectly fine here and your sample already proofs this is working.

That's what `DynamicObject` and `DynamicResultMapper` are used for in *remote.linq*. You need to fix your `RemoteExecutor` to support anonymous types by passing `IQueryable<T>` rather than `Expression` parameters, so `T` can be inferred by the argument type. The main challenge here is adding s

[2021-02-10 13:43] lsoft commented on #85
Thanks for your reply, Christof! Hope I don't take too much of your time!

It make sense for me, I'll take a look.

Got it. I fixed it already, but I'm afraid that `ProtobufNetFormatter` from `RemoteQueryable_UsingProtobufNetSerializationOverTcp.sln` could contains this defect too. I tried to execute the following remote expression:

[code]

and got this error in `ProtobufExpressionSerializer.Writ

[2021-02-10 14:06] 6bee commented on #86
I suspect this might be a bug as I would not expect an actual instance of `Common.ProductCategory` be serialized. Will look into this.

[2021-02-11 12:24] lsoft opened #87 "IQueryResultMapper: nullable reference type marking"
I may wrong, but it looks like

[code]

should be

[code]

because `source` is allowed to be null (verified experimentally).

[2021-02-12 19:52] 6bee commented on #87
yes indeed. thanks!

[2021-02-13 17:17] 6bee commented on #86
Hi @lsoft
I'm actually considering to solve this by representing `null` results using `Aqua.Dynamic.DynamicObject` as this might overcome limitations of various serialization frameworks.

[2021-02-14 04:48] lsoft commented on #86
I am not familiar with `aqua.dynamic`, so, if I understand you correctly, you mean

1. `null` is a special case for handling now
2. you want to "encapsulate" (put) `null` results  into `DynamicObject`
3. as a result, empty-result serialization will will no longer be a special case and it will be easier to attach a new, custom serializer.

if so, I think it's a very good idea! I look forward to see

[2021-02-15 01:39] 6bee commented on #86
FYI: As you have already noticed, there are various overloads of `CreateQueryable` methods. A range of them is based on `DynamicObject`. These are used to wrap both, the request as well as the response, as `DynamicObject`s for transmission between client and server. This also allows, without any additional effort, to query any type of results, like aggregates and projections to anonymous types.

I

[2021-02-15 02:08] 6bee commented on #85
I understand your concern is less about `ClientDataModel` than how to create your `IQueryable<>` types.

While there are different ways you could achieve this, I find the use of `RemoteQueryable.Factory` still the most easy and probably most elegant way. What's more, I suggest you create a data provider method that throws an exception explaining how the queryable is meant to be used:
[code]

[2021-02-15 02:16] 6bee commented on #73
Support for `System.Linq.Async.Queryable` has been added as a separate package `Remote.Linq.Async.Queryable`, currently available as pre-release via myget feed.

[2021-02-15 02:19] 6bee commented on #74
issue closed as no recent activity

[2021-02-15 02:19] #74 closed, assigned to nobody

[2021-02-15 02:20] 6bee commented on #75
issue closed as no recent activity

[2021-02-15 02:20] #75 closed, assigned to nobody

[2021-02-15 02:22] 6bee commented on #83
@joer33304  would you be able to provide a code sample to help reproduce this issue?

[2021-02-15 04:33] lsoft commented on #86
All of my unit tests are green now, it works. Thank you!

[2021-02-15 04:33] #86 closed, assigned to 6bee

[2021-02-15 04:36] lsoft commented on #87
not an issue now

[2021-02-15 04:36] #87 closed, assigned to 6bee

[2021-02-15 22:07] joer33304 commented on #83
Async works, thanks ! I

[2021-02-15 22:07] #83 closed, assigned to 6bee

[2021-02-16 10:40] 6bee commented on #83
@joer33304 Thanks for letting me know.
In this case I suppose it's working with sync query too, if you make sure to create your `IQueryable<>` using one of the sync overloads of `RemoteQueryable.Factory.CreateQueryable(...)` method.

FYI: In version `6.x` sync and async overloads of the factory method are all called `CreateQueryable`. This is changed for version `7.x` where we have `CreateQueryabl

[2021-02-17 14:09] lsoft commented on #85
Got it, thanks for your answers! I am satisfied with the results I have now. I posted them [here](https://github.com/lsoft/Remote.Linq.ExpressionBatch) if you are interested.

[2021-02-17 14:09] #85 closed, assigned to 6bee

[2021-02-17 17:58] 6bee commented on #85
Awesome! I just had a look. Thanks for your effort, the publishing as well as for the credits :heart:

[2021-04-13 14:02] mircotamburini commented on #80
Hello,
could you build an example using gRpc Service ?
I try to build something with ServiceModel.Grpc to convert my old WCF application but i get an error

[2021-04-25 15:21] 6bee opened #88 "Sample for ServiceModel.Grpc"
Issue copied from https://github.com/6bee/Remote.Linq/issues/80#issuecomment-818761078 created by @mircotamburini:

could you build an example using gRpc Service ?
I try to build something with ServiceModel.Grpc to convert my old WCF application but i get an error

[2021-04-25 15:46] 6bee commented on #88
For information: there are new packages of `aqua-core` with the requested `KnownTypeAttribute`  enabling support for _ServiceModel.Grpc_:
- [aqua-core.4.6.5-beta-001](https://www.nuget.org/packages/aqua-core/4.6.5-beta-001) ([nuget feed](https://api.nuget.org/v3/index.json))
- [aqua-core.5.0.0-alpha-045](https://www.myget.org/feed/aqua/package/nuget/aqua-core) ([myget feed](https://www.myget.org/F

[2021-04-29 22:41] Braidon opened #89 "Exception throws when using EF.Functions.Like in a query"
Hi!

There is an exception throws when use Microsoft.EntityFrameworkCore.EF.Functions.Like.

To reproduce the error open project 41_RemoteQueryable_ToEntityFrameworkCore, and add the line at first query
`.Where(x => Microsoft.EntityFrameworkCore.DbFunctionsExtensions.Like(Microsoft.EntityFrameworkCore.EF.Functions, x.Name, "apple"))`

[2021-04-30 13:11] Ilchert opened #90 "NotaTime compatibility"
Hello!

I am using NodaTime with Remote.Linq and have issue with constants. I created a custom DynamicObjectMapper and KnownTypeProvider to serialize NodaTime structures as is (they do not have parameter less constructor), but for constants in expression it does not work.
[code]
this code produce exception `'Failed to pick matching constructor for type NodaTime.CalendarSystem'` in `ExpressionTrans

[2021-04-30 13:43] 6bee commented on #89
Looks like json serializer struggles with `Microsoft.EntityFrameworkCore.DbFunctions`. You may set this instance to `null` as it's actually not required. Alternatively you may consider taking care of deserializing this type.

[code]

[2021-04-30 14:02] Braidon commented on #89
Thank you, it works.

[2021-04-30 14:02] #89 closed, assigned to nobody

[2021-04-30 14:51] Braidon opened #91 "[Question] Pagination"
Hello!

Using expressions client can form queries limiting output with Skip() and Take() methods. So, I faced with two problems:

- First problem is to get total count of records from server, to calculate number of pages at client.
- Second problem is force to limit max page (or set if it not available at query)

Now I'm trying to implement custom executor inherited from ExpressionExecutor, overri

[2021-04-30 15:25] 6bee commented on #91
Your approach sounds reasonable in terms of processing on service side.

Alternatively you might transform the remote expression instead of system expression as part of your service implementation and run execute twice. I'd find this a bit easier to fetch the two results (count and page) to return to client.

However, I don't quite see how count-result would be exposed on client side, since this i

[2021-05-01 14:12] 6bee commented on #91
@Braidon although not the exact same use case, the following could still be an inspiration:
https://github.com/lsoft/Remote.Linq.ExpressionBatch

[2021-05-01 15:17] 6bee commented on #90
If my understanding is correct, your implementation of `bool IIsKnownTypeProvider.IsKnownType(Type type)` would return `true` for `typeof(LocalDate)`.  If so, you need to make sure, values of type `LocalDate` are handled by your serialization framework.

Alternatively, you may subtype `DynamicObjectMapper` to convert from and to `LocalDate` by tearing local dates into primitives (i.e. strings, num

[2021-05-02 19:46] Braidon commented on #91
No, I don't use a seamless linq-to-server query. A send expression as an argument, and retrieve a result. I "upgrading" server interface from WCF to gRPC (.net 5) and meanwhile trying to find a solution for a flexible filtering/paging functionality in scope of one entity (+ navigation props).

Thank you for the link, I already looked at the code and It's a good idea and I'll make something similar

[2021-05-04 07:56] Ilchert commented on #90
@6bee. thanks for the fast answer I did not override `MapFromDynamicObjectGraph` - onlyKnownTypeProvider, I so I will try and come back.

[2021-05-04 08:54] Ilchert commented on #90
Unfortunately, it does not work :(. Simple repro
[code]
Looks like constants does not respect provided `DynamicObjectMapper`.

[2021-05-04 09:25] 6bee commented on #90
You need to remove the `KnownType` implemenetation (or return `false` for `NodaTime` type) as it would not be mapped otherwise.

[2021-05-04 09:44] Ilchert commented on #90
I removed this code, but exception occurs before any my methods (including IsKnownType) is called. [stack trace](https://gist.github.com/Ilchert/213f8d0763672c3d100657b0c12caa85)

[2021-05-06 14:15] Ilchert commented on #90
@6bee I am sorry for ping, but have you had a chance to look at the constant serialization or can you suggest an area where I can override constant mapping ([ConstantValueMapper](https://github.com/6bee/Remote.Linq/blob/6aa133095e5458a14c00a2a4ae56abe56c4ae68c/src/Remote.Linq/ExpressionTranslator.cs#L272))?

[2021-05-06 16:17] 6bee commented on #90
I was able to reproduce your issue and it's clearly a shortcoming of _remote.linq_ as in currently there's no place to override `ConstantValueMapper`. I need to further look into this....

[2021-05-20 10:44] andtii opened #92 "[Question] Is it possible for the objects on the server to be dynamic"
Im trying to implement a way so that the server does not know about the actual models that the client is running the queries against. The idea is that i want to have a backend where you can add your entitites and that entity can be anything that the server does not know about. Then you could run queries against it. Tried to find an example for it. Any ideas/helphow i could go along and implement t

[2021-05-20 13:38] 6bee commented on #92
Client and server don't necessarily need to operate on the same model.
An `ITypeResolver` may be injected when executing query expressions on the server. This way, type information can be mapped to either existing types or new types can be emitted at runtime. This is basically what happens when projecting data into anonymous types one client side. Those anonymous types are not know on server side

[2021-05-21 11:14] andtii commented on #92
Thnx for the hint, i was looking for the ITypeResolver on the Execute serverside but cant find where to inject it.
![image](https://user-images.githubusercontent.com/1434571/119128827-704c9700-ba36-11eb-987f-55d8f0d397df.png)
There is no overload taking ITypeResolver on serverside? Any hints there @6bee
![image](https://user-images.githubusercontent.com/1434571/119128853-793d6880-ba36-11eb-845e-c2

[2021-05-21 11:16] andtii commented on #92
Aha found something in IExpressionFromRemoteLinqContext will try that out

[2021-05-21 11:36] 6bee commented on #92
You're quite right, this area is under construction in the current dev version.
`ITypeResolver` is currently part of `IExpressionFromRemoteLinqContext`. As noted though, this is still subject to change.

[2021-06-01 19:39] Braidon opened #93 "[Bug?] DynamicObject causes stack overflow using protobuf with circular dependencies"
Hi!

EF usually returns an entites with a back referenced navigation properties. If I return a list of entites from server - everything is fine. If DynamicObject - server crashes at serialization step at Aqua-protobuf.

Does circular references is not supported or it's a bug?

I use grpc as a communication framework.

Thanks.

[2021-06-02 07:45] 6bee commented on #93
Hi @Braidon
I'm not sure about grpc but AFAIK `protobuf-net` which is used for serialization in `aqua-core-protobuf-net` does not support circular references.
https://stackoverflow.com/a/23978265

[2021-06-02 08:15] 6bee commented on #91
Closing issue due to inactivity. Feel free to re-open if needed.

[2021-06-02 08:15] #91 closed, assigned to nobody

[2021-06-02 11:29] 6bee commented on #90
@Ilchert, `Remote.Linq.7.0.0-alpha-030` available from [myget package feed](https://www.myget.org/F/aqua/api/v3/index.json) has some enhancements to overcome previous limitations concerning your issue:
[code]

[2021-06-02 15:17] Braidon commented on #93
Hi,

I dug some code and yes protobuf-net handles circular references itself. Seems if I want to use DynamicObject I need to add support for circular references at DynamicObjectSurrogate conversion phase.

Ok, thank you.

[2021-06-02 15:17] #93 closed, assigned to nobody

[2021-06-02 17:17] 6bee commented on #93
@Braidon, you're welcome to share anything that might be of general interest. Especially if there's anything that (A) could be implemented in `aqua-core-protobuf-net` and (B) would also work with `protobuf-net` version 3.x.

[2021-06-03 10:31] Ilchert commented on #90
Thanks!

[2021-06-11 15:51] s21-ben opened #94 "Argument Types do not match"
Hi,
I'm currently trying to use Remote.Linq with a .NET 5 Blazor WASM project. I believe I have it setup as per the use guide but I am receiving an exception when trying to convert it back to a .NET Expression. The problem seems to just lie with the Filter property being mapped back to the original type.

For some context:
` var users = await EntityApi.QueryAsync<TApiRoute, TUser, TUserViewModel>(

[2021-06-14 21:05] joer33304 opened #95 "Filtered includes not supported ?"
I get an error when trying to use filtere includes. Is this not supported yet ?

https://docs.microsoft.com/en-us/ef/core/querying/related-data/eager#filtered-include

[2021-06-20 14:14] s21-ben commented on #94
There seems to be issues when using integers as arguments within predicates and the internal handling of the arguments, if you ToString() them they are fine. I tried replacing UserId == x.UserId to Nullable<int>(UserId, x.UserId) and blows up at the same point. It seems possible that the expression arguments are not being handled correctly, or have the expected type when using integers or not. Unf

[2021-06-20 14:30] s21-ben commented on #94
![image](https://user-images.githubusercontent.com/82444231/122677937-6efcbe80-d1dc-11eb-82f9-e1295640a0d2.png)

[2021-06-20 22:59] 6bee commented on #94
Hi @s21-ben
Thanks for reporting this issue.
Is there a small repro I could use to reproduce this issue?

[2021-06-22 11:38] LaNague opened #96 "Issue with long expression?"
Hello,

I have been using remote.linq successfully in my application, however i encountered an issue where expressions are not successfully deserialized on the server and seemingly (to me at least) the only difference is the amount of clauses in the query.

Client:
[code]
Server
[code]

where RawLinqQuery is like the example just a class with the Expression as property.

So, usually all works well

[2021-06-22 16:04] s21-ben commented on #94
You can just knock up a blazor WASM.NET5 app, and make a Func<Type, bool> where the predicate does some integer comparison

[2021-06-25 06:51] 6bee commented on #90
Closing this issue with the assumption it has ben resolved. Feel free to re-open of required.

[2021-06-25 06:51] #90 closed, assigned to 6bee

[2021-06-25 07:00] 6bee commented on #88
Closing this issue with the assumption provided resolution is satisfying. Feel free to re-open if required.

[2021-06-25 07:00] #88 closed, assigned to 6bee

[2021-06-25 07:01] 6bee commented on #73
Closing this issue due to inactivity. Feel free to re-open if needed.

[2021-06-25 07:01] #73 closed, assigned to 6bee

[2021-06-25 07:10] 6bee commented on #95
Hi @joer33304
I'm afraid this feature is currently not supported by _remote.linq_. Will keep this issue open as a todo...

[2021-06-25 07:27] 6bee commented on #96
Hi @LaNague
The two json documents look alright to me and I'm not aware of any size limitations implied by _remote.linq_.
I'm not sure which json serializer you're using and whether there are any server side quota in place?

[2021-06-25 07:52] 6bee commented on #96
I made a quick test using `Remote.Linq.Newtonsoft.Json.7.0.0-alpha-030` and both json documents seem to get translated just fine:
[code]

[2021-06-25 07:57] 6bee commented on #92
Meanwhile the API has stabilized. Please let me know in case there are any questions and feel free to re-open this issue if needed.

[2021-06-25 07:57] #92 closed, assigned to 6bee

[2021-06-25 09:07] LaNague commented on #96
Hm ok thank you for your time. This kind of server client communication is not my usual field so it looks like i wasted your time.
I will look into the other components that i am using.

[2021-06-25 09:07] #96 closed, assigned to 6bee

[2021-06-25 09:32] 6bee commented on #96
No worries, I wish you the best of luck!

[2021-06-29 13:49] 6bee commented on #82
Update: I'm planning to release _remote.linq v7.0_ with support for _protobuf-net v2.4_ as version 3.0.x cannot support our object model.
More info: https://stackoverflow.com/questions/68178763/protobuf-net-v3-with-surrogate-and-inheritance-hierarchies

[2021-06-29 14:00] 6bee commented on #94
Hi @s21-ben
Thanks for your reply.
I suspect this issue is likely to be related to a bug I just happened to stumble over very recently and should be fixed in latest alpha version: [7.0.0-alpha-031](https://www.myget.org/feed/aqua/package/nuget/Remote.Linq/7.0.0-alpha-031) from [myget feed](https://www.myget.org/F/aqua/api/v3/index.json).
Could you please retest and let me know if there's any diffe

[2021-06-30 08:50] s21-ben commented on #94
Hi Christof,
I will give it a go and let you know
Many thanks,
Ben

[2021-06-30 15:25] 6bee commented on #80
Hi @pazicb
I added an example using _MessagePack typeless object serializer_.
You may find the sample in _Remote.Linq.Samples.sln_ under _31_RemoteQueryable_UsingMessagePackSerializationOverTcp_.

[2021-07-15 18:20] 6bee commented on #95
@joer33304

[Filtered includes](https://docs.microsoft.com/en-us/ef/core/querying/related-data/eager#filtered-include) are now supported and may be tested using latest alpha version from [myget package feed](https://www.myget.org/F/aqua/api/v3/index.json).
Please note that `Include` and `ThenInclude` methods moved to namespace _Remote.Linq.Include_.

[2021-07-15 18:20] #95 closed, assigned to 6bee

[2021-07-15 18:21] #82 closed, assigned to 6bee

[2021-07-15 18:22] #80 closed, assigned to 6bee

[2021-07-15 18:47] joer33304 commented on #95
awesome !

On Thu, Jul 15, 2021 at 2:20 PM Christof Senn ***@***.***>
wrote:

[2021-08-27 12:32] oschakravarthi opened #98 "Aqua.TypeSystem.TypeResolverException:"
Hi,

I am using Dynamic Linq. (System.Linq.Dynamic.Core.dll)
It looks like RemoteLinq/Aqua is not able to handle the Anonymous classes created by Dynamic Linq. I am getting the below exception

Aqua.TypeSystem.TypeResolverException: 'Declaring type '<>f__AnonymousType0`1[System.DateTime]' could not be reconstructed for constructor <>f__AnonymousType0`1[System.DateTime]..ctor(System.DateTime)'

[2021-08-27 19:13] 6bee commented on #98
Hi,

Thanks for reporting this issue.

In order to be able to look into this, I would need some more detailed information:
- version of _remote.linq_ package
- version of _aqua-core_ package
- version of _System.Linq.Dynamic.Core_ package
- exception stacktrace

Also it would be of great help if you could provide a small repro of this issue.

[2021-08-29 14:47] 6bee commented on #94
Closing this issue due to inactivity. Feel free to re-open if required.

[2021-08-29 14:47] #94 closed, assigned to 6bee

[2021-09-01 21:06] Braidon opened #99 "Empty DynamicObject with protobuf-net serializer throws exception"
Hi,

I faced with a serialization problem of a DynamicObject. Empty DynamicObject is incorrectly deserializes by protobuf. I get the last sources to investigate the problem.
To reproduce exception you need to open the "29_RemoteQueryable_UsingProtobufNetSerializationOverTcp" sample, and at first query change
`foreach (var item in await repo.Products.ToArrayAsync().ConfigureAwait(false))`
to
`forea

[2021-10-23 13:17] oschakravarthi opened #100 "Exception: Self referencing loop detected for property 'ManifestModule' with type 'System.Reflection.RuntimeModule"
Hi, I am getting the below exception. Any clue?

`Microsoft.AspNetCore.Components.WebAssembly.Rendering.WebAssemblyRenderer[100]
      Unhandled exception rendering component: Self referencing loop detected for property 'ManifestModule' with type 'System.Reflection.RuntimeModule'. Path 'Expression.Arguments[0].Arguments[1].Value.Body.Member.Module.Assembly'.
Newtonsoft.Json.JsonSerializationExcept

[2021-10-24 15:10] oschakravarthi commented on #100
I have a situation in which I am creating something like this.

[code]

When I try to serialize constExpression, I am getting exceptions.
Looks like we need to consider these kind of situations in ExpressionConverter

[2021-10-24 15:11] oschakravarthi opened #101 "Exceptions in Expression.Const(Expression[])"
I have a situation in which I am creating something like this.

[code]

When I try to serialize constExpression, I am getting exceptions.
Looks like we need to consider these kind of situations in ExpressionConverter

[2021-11-02 15:25] 6bee commented on #100
Hi

Thanks for your message.

I wasn't quite able reproduce the issue you're reporting.
Examining the stacktrace indicates you're trying to serialize property `System.Reflection.Assembly.ManifestModule`.
I'm wondering how this issue can be reproduced and what kind of expression you're trying to serialize respectively.

Please let me know in case you're able to provide any further details.

[2021-11-02 17:54] CoreLedger-TEOS opened #102 "Probably misplaced operands in extension method RemoteQueryProviderExtensions.InvokeAndUnwrap"
I have hard times with the code in this method

`public static TResult InvokeAndUnwrap<TResult>(this IRemoteQueryProvider queryProvider, MethodInfo method, Expression expression)
            => method
            .MakeGenericMethod(typeof(IQueryable).IsAssignableFrom(expression.Type) ? typeof(object) : expression.Type)
            .InvokeAndUnwrap<TResult>(queryProvider, expression);`

I do not un

[2021-11-02 17:55] #102 closed

[2021-11-02 17:56] jfshark opened #103 "Probably misplaced operands in extension method RemoteQueryProviderExtensions.InvokeAndUnwrap"
I have hard times with the code in this method

`public static TResult InvokeAndUnwrap<TResult>(this IRemoteQueryProvider queryProvider, MethodInfo method, Expression expression) => method .MakeGenericMethod(typeof(IQueryable).IsAssignableFrom(expression.Type) ? typeof(object) : expression.Type) .InvokeAndUnwrap<TResult>(queryProvider, expression);`

I do not understand, why if my expression type

[2021-11-02 18:02] jfshark commented on #103
Another thing,

@6bee can you, please, as the owner of the repository delete the same issue, created from wrong account:
https://github.com/6bee/Remote.Linq/issues/102
https://docs.github.com/en/issues/tracking-your-work-with-issues/deleting-an-issue

Thank you ahead.

[2021-11-02 20:32] 6bee commented on #103
Hi
Thanks for your message. Looking at code I actually doubt the method was meant to surface public API.
However, the implementation is as intended: `Expression.Type` is considered as result type unless it's of type `IQueryable`.
I suggest you expect the method to be declared internal in a future version and provide your own implementation as it's actually not doing much more than the following:
[

[2021-11-07 15:51] pazicb opened #104 "How to add a custom method?"
Hello,
I have defined a class
[code]
And I call e.g.
var repo = new RemoteRepository("http://127.0.0.1:8089");
var x=await repo.Data.Take(10).ToListAsync();
Everything works great.
I need to add my method Insert (object myObject) to RemoteRepository and call
`repo.Insert(myObject)`
I want to process the Insert function on the server.
Could you create an example of how to solve this?

Thank you.

[2021-11-07 20:35] 6bee commented on #104
Hi @pazicb

Thanks for your message. I understand calling `repo.Insert(myObject)` should not insert into client repo (e.g. for caching) but call straight to the server for inserting data into the back-end. Otherwise, I would have suggested looking at [InfoCarrier.Core](https://github.com/azabluda/InfoCarrier.Core).

Let me point out _remote.linq_ focus on querying data (read or select) rather than

[2021-11-08 06:21] pazicb commented on #104
Hello,
thank you very much for your help. I originally thought to create something like this:

[code]
Unfortunately, I don't know how to process the "Object" branch further so that I can define the Insert method and use the call:
var repo = new RemoteRepository("http://127.0.0.1:8089");
var x=await repo.Data.Take(10).ToListAsync();
var=repo.Insert(myObject)

[2021-11-08 09:30] 6bee commented on #104
On client side I don't see `Func<Expression, Task<IEnumerable<DynamicObject>>> _dataProvider` serve anything but data queries. Instead I'd suggest creating a second path.

sample 1:
[code]

[2021-11-08 16:16] pazicb commented on #104
Hello,
Thank you. I have two more questions:
1. Can _asyncDataProvider and _asyncUpdateProvider run on one port and do on the server:
var clientObject = await context.Request.InputStream.ReadAsync().ConfigureAwait(false);
[code]

2. It would be possible to define
public async ValueTask InsertAsync(object product, CancellationToken cancellation = default)
And again to distinguish on the server whic

[2021-11-08 16:32] 6bee commented on #104
Absolutely, since you're implementing the server yourself you are free to do whoever you like.

Sure, as long as you're able to serialize and transport the object/data from client to server you may go with any type you like.

I've no intention to do so as for remote.linq this is off topic.

[2021-11-08 16:49] pazicb commented on #104
Thank you. Your product is excellent.

[2021-11-08 19:42] 6bee commented on #104
Thanks.

[2021-11-08 19:42] #104 closed, assigned to nobody

[2021-11-20 21:08] oschakravarthi opened #105 "Binary serialization over Http"
Hi,

Can we use proto-buf or some other sort of serialization?

My client is a blazor application. So, I can use the same C# written serialization library in client and server.
I have a dedicated remote-linq endpoint in server. My blazor client is the only client which hits this endpoint.

Thank you.

[2021-11-22 14:19] 6bee commented on #105
Although *remote.linq* doen's make assumptions about the serialization framework, there is a nuget package available with predefined *protobuf-net* serialization settings: `Remote.Linq.protobuf-net`

Please note this package does not support v3 of *protobuf-net*.

While I don't have any sample ready for Blazor, there are sample available for protobu-net and MessagePack over tcp: https://github.com

[2021-11-29 09:27] 6bee commented on #98
This issue is closed due to inactivity. Feel free to re-open if needed.

[2021-11-29 09:27] #98 closed, assigned to nobody

[2021-11-29 09:32] 6bee commented on #103
This issue is closed due to inactivity. Feel free to re-open if needed.

[2021-11-29 09:32] #103 closed, assigned to nobody

[2021-12-14 12:25] lsoft opened #106 "Async queries + async batches"
Hello Christof!

I'm trying to adapt https://github.com/lsoft/Remote.Linq.ExpressionBatch to async queries and have a trouble. Look like I can't resolve it without your help\tips.

https://www.dropbox.com/s/namxib9z0mh1ise/Remote.Linq.ExpressionBatch%20%7Bissue%7D.7z?dl=0

Here is a repro with 2 tests. The test with single-object-result (`FirstOrDefaultUnknownType`) is green, the test with collect

[2021-12-14 14:00] lsoft commented on #106
Oh! Creating issues is a very helpful activity even without replies :) Looks like the issue above is gone if I replace `AsList` method as:

[code]

I found it a bit after this issue has been posted :)

Interesting, I no need to do it with sync version of the code....

Anyway, I continue to uncomment my unit tests, and have additional issues.  Please take a look at repro V2

https://www.dropbox.com

[2021-12-14 16:28] 6bee commented on #101
While remote linq exression translators now handle expressions contained within ConstantExpression not all serializers do.
_XmlSerializer_ and _protobuf-net_ are known to fail with this constellation.

[2021-12-14 16:32] 6bee commented on #100
Closing issue due to inactivity. Feel free to re-open if required and more information may be provided.

[2021-12-14 16:32] #100 closed, assigned to nobody

[2021-12-14 16:35] 6bee commented on #105
Closing issue as being answered. Feel free to re-open if required.

[2021-12-14 16:35] #105 closed, assigned to nobody

[2021-12-17 17:25] lsoft commented on #106
Looks like I've reproed one issue in the test inside of `RemoteLinq` codebase.

in the file `When_querying_async.cs` I've added:

[code]

Also I have copied your `ProtobufNetFormatter` as is. I have the following failure:

[code]

![изображение](https://user-images.githubusercontent.com/5988558/146583521-035c8bd8-732d-46f8-bfd7-76bd7c6d2b53.png)

[2021-12-17 23:15] 6bee commented on #106
Hi @lsoft
Thanks for your messages. Unfortunately I haven't found time to dig into the details here. However, there is one thing that drew my attention looking at the _BatchRelated_DefaultIfEmpty_Test_.
I don't see how `Remote.Linq.Async.Queryable` and `RemoteLinq.ExpressionBatch` would ever fit together with the former being dedicated to async streams. I feel this would be a total mismatch of con

[2021-12-18 07:25] lsoft commented on #106
`IAsyncQueryable` is useful for async streams, but async streams is not compatible with batches. I see now... It's a valuable tip for me, thank you! (since I spent a lot of years working with old net4.0, all async stuff is very new for me)

So, I have `IQueryable<>` on client size, and `IQueryable<>` on server side, my expressions are against `IQueryable<>` too. The only problem I have now is: how

[2021-12-18 19:02] 6bee commented on #106
Async streaming would be posting a request (i.e. a query expression) to the back and then streaming the result back to the client. Where streaming means receiving individual items or junks of items rather than the whole result set at once. Hence, rather than minimizing the number of roundtrips, they get increased in order to to reduce the size per response, minimize delay until start receiving res

[2021-12-20 11:22] lsoft commented on #106
good idea, thank you. but it's more abour polishing the working solution, but no such solution exists now :)

ok, at the client side I will have `IQueryable<>` remote data source, and I will `await` a network reply. No problem.

Also, let's move linq2db out of scope. let's think in terms like `InMemoryDataStore` (fake server data store). at the server I can make it `IQueryable<>` or `IAsyncQueryab

[2022-01-31 08:39] #106 closed, assigned to nobody

[2022-04-26 04:51] boone34 opened #107 "Anonymous projection throws exception."
Remote.Linq version 7.0.0

Targeting entity framework core 6.0 over web api.

The following:

`
        public async Task Select()
        {
            using var remote_context = GetRemoteContext();

            var dispatch_customers = await remote_context.DispatchCustomers.OrderBy(dc => dc.Key).Take(10).ToListAsync();
            var key_names          = await remote_context.DispatchCustomers.O

[2022-04-30 17:30] boone34 commented on #107
When trying this out I looked at the Remote.Linq.Samples WebApi sample and saw the Query class:

`public class Query
{
    public Expression Expression { get; set; }
}`

Didn't and still don't see the need for the wrapper around _Expression_ so I didn't use it and just serialized _Expression_. My controller action looked like:

`public DynamicObject Query([FromBody] Expression expression) ...`

St

[2022-04-30 17:30] #107 closed, assigned to nobody

[2022-05-06 07:19] oschakravarthi opened #108 "Unhandled exception rendering component: No MediaTypeFormatter is available to read an object of type 'DynamicObject' from content with media type 'text/html'."
crit: Microsoft.AspNetCore.Components.WebAssembly.Rendering.WebAssemblyRenderer[100]
      Unhandled exception rendering component: No MediaTypeFormatter is available to read an object of type 'DynamicObject' from content with media type 'text/html'.
System.Net.Http.UnsupportedMediaTypeException: No MediaTypeFormatter is available to read an object of type 'DynamicObject' from content with media t

[2022-05-16 13:51] wstaelens opened #109 "[Question] Remote Linq sync to async"
Got this synchronous code working perfectly in a Blazor server app:

[code]

I'm calling this sync code similar to this:

[code]

However can't get this working async using Remote.Linq.

I can have it working by using Task, but that doesn't feel 100% correct:

[code]

Another attempt, but this deadlocks or doesn't seem to work property in production:
[code]

Another attempt, but one that doesn't b

[2022-05-16 14:40] 6bee commented on #109
Hi @wstaelens

I suggest your async code should look something like:
[code]

[2022-05-17 07:41] wstaelens commented on #109
@6bee Thanks.
I've implemented the AsyncBasicResultMapper like this, hopefully this is fine (?) 🤞

[code]
the CreateAsync implementation: 🤞

[code]

and calling it by using this for example:

[code]

Seems to work, but not sure if it is 100% ok.

Am I correct that I should be using `.ExecuteAsync()` instead of in my sync code using `".ToList()"` ?

How can sync queries like this work now?

[code]

[2022-05-17 15:11] 6bee commented on #109
Synchronous linq functions should actually work too. Please note that by adding namespace `using Remote.Linq.Async;` you get a set of async linq functions as well.

Have you already checked-out the sample/demo apps (Remote.Linq.Samples.sln)? There are a few showing how to work async.

[2022-05-18 12:32] 6bee commented on #109
Concerning dead-lock I suggest **not** accessing `Task.Result` property but using *await* and *ConfigureAwait(false)*.
E.g.:
[code]

[2022-05-18 12:36] wstaelens commented on #109
Thank you! The .Result indeed gives me some blocking issues.

[2022-05-18 12:47] 6bee commented on #108
Hi @oschakravarthi

Is this still a thing?

I'm not very familiar with web assembly but the exception message suggests there is no MediaTypeFormatter specified and data is being serialized using media type 'text/html'.
1. You might want to serialize data as json or binary.
2. You might need to specify a MediaType and a MediaTypeFormatter accordingly.

[2022-06-20 10:20] Roiskia opened #110 "[Question] Eager-Loading Includes wont get applied"
I am exploring Remote.Linq right now and got an service working with lazy loading. I would like to switch to eager loading to avoid unwanted queries when serializing the results. But it seems like im missing something, since the include methods wont be applied to the query.

I disabled lazy loading aswell as the proxy class creation:
[code]
Testing that with and without the entity framework includ

[2022-06-20 13:14] 6bee commented on #110
can you try `var result = expression.ExecuteWithEntityFramework<object>(_dbContext);` instead?

[2022-06-20 15:13] Roiskia commented on #110
This wont work, since the Expression contains the Type `EmployeeModel` at this point i. e. my transfer type and needs to be mapped to the service Type `EMPLOYEE`.
I have two mappings in this chain: `Employee` (Client) <-> `EmployeeModel` (Transfer) <-> `EMPLOYEE` (Service)
I am doing it this way to decouple the client from the service.

[2022-06-20 15:48] 6bee commented on #110
In this case you may want to specify the `IExpressionTranslatorContext` parameter with your own implementation or a customized version of `Remote.Linq.ExpressionTranslatorContext.Default`.

`Include` expressions cannot be applied to ef query execution unless you provide either a `DbContext` or `DbSet<TEntity>`.

[2022-06-20 16:39] Roiskia commented on #110
The context gets provided by the `QueryableByTypeProvider`. It create another IRemoteQueryable were its dataProvider uses the dbContext.  Sorry, i should have included this from the beginning. I can provide another snippet if that helps.

[2022-06-21 12:13] Roiskia commented on #110
To elaborate, the `QueryableByTypeProvider` in the service creates a new Queryable:
[code]
and the `_dataProvider` is then using the DbContext:
[code]

[2022-06-21 14:09] 6bee commented on #110
I guess you could do that, while in an RPC scenario (client/server) your data-provider passed to RemoteQueryable.Factory would most likely send the query expression via some sort of service to a remote host for execution.

.... or is this all (incl. QueryableByTypeProvider) server side code?

[2022-06-21 14:22] 6bee commented on #110
Ok, I think I understand now that `QueryableByTypeProvider` corresponds to the code you initially posted.

1. Remote.Linq.RemoteQueryable.Factory is meant for client side, not server side.
2. `QueryableByTypeProvider` for EF on server side should return `DbSet<>`. Make sure to return the generic version as the non-generic DbSet has different behavior as far as I remember.

[2022-06-21 14:50] Roiskia commented on #110
But wouldnt be calling a remote service that takes an expression or executing the expression against some data store be an implementation detail of the `_dataProvider`  the `Remote.Linq.RemoteQueryable.Factory` is using? Why should the behavior be diffrent at this point?

Dont get me wrong, im glad about your help and more then willing to learn how to do things the proper way with your library. It

[2022-06-21 15:22] 6bee commented on #110
You're right that a data provider passed to the RemoteQueryable.Factory is indeed an implementation detail of your specific use case.  And this could even be something like `_dataProvider = expr => expr.ExecuteWithEntityFramework<Model>(_dbContext);` to run everything locally in the same process.

However, I assumed you'd referred to the `QueryableByTypeProvider` used in
`var result = expression.E

[2022-06-22 09:25] Roiskia commented on #110
Ok, seems like this is one step forward and one step back. Using the DbContext with an `ExpressionTranslationContext` applies the include as expected:
[code]
But now i lost the mapping to the expected result type that the `QueryResultMapper` achived when using the Factory (i still dont understand why this would drop the include though):
[code]
I saw that the constructor of the ExpressionTranslator

[2022-06-22 14:30] 6bee commented on #110
That's correct, `ExpressionTranslationContext` is used to map type information but cannot actually perform value mappings.
Your options are:
1. Map result values as part of the query service after calling `expression.ExecuteWithEntityFramework<object>(...)` method
2. Instead of calling ExecuteWithEntityFramework method, subtype `EntityFrameworkExpressionExecutor<object>`  and override `ConvertResu

[2022-06-22 14:40] 6bee commented on #108
This issue is closed due to inactivity. Feel free to re-open if needed.

[2022-06-22 14:40] #108 closed, assigned to nobody

[2022-06-22 14:41] 6bee commented on #101
This issue is closed due to inactivity. Feel free to re-open if needed.

[2022-06-22 14:41] #101 closed, assigned to nobody

[2022-06-22 14:42] 6bee commented on #109
This issue is closed due to inactivity. Feel free to re-open if needed.

[2022-06-22 14:42] #109 closed, assigned to nobody

[2022-06-22 14:52] Roiskia commented on #110
Yeah i thought as much. Thanks for your kind help and your time, its very much appreciated.

Its just that this seems like it should be unnecessary, since the variant `expression.ExecuteWithEntityFramework<object>(QueryableByTypeProvider)` would in theory already do this for me. Can you maybe elaborate as to why the include gets discarded here? From my perspective it just seems like a bug.

[2022-06-22 22:17] 6bee commented on #110
1. I suggest the `QueryableByTypeProvider` does also only map the query expression to the entity model but not convert any resulting values to be returned from the query unless mapping is performed in one of the ways described above.

2. `Include` expressions correspond to a no-op, except for EF and EF Core where `Include` expressions get mapped to their counterpart of the specific framework. From

[2022-06-23 11:23] Roiskia commented on #110
But isnt this exactly what the factory does, as far as the client is concernd? I. e. translating the query using the typeInfoProvider, executing it through the dataProvider and mapping the result values if needed with the resultMapper:
[code]

Ok, so my `QueryableByTypeProvider` is returning the Query that the `Remote.Linq.RemoteQueryable.Factory` is creating. So the the Query the Factory creates

[2022-06-23 13:16] 6bee commented on #110
In fact, `Remote.Linq.RemoteQueryable.Factory` does not create anything by itself but rather serves as a handle to various factory methods. As you may easily find out, all those method (e.g. `CreateQueryable`) are extension methods.
As you correctly stated,  `Remote.Linq.RemoteQueryable.Factory` **is meant for client side** as it's responsible for translating system expressions into serializable r

[2022-06-23 15:55] Roiskia commented on #110
Technically you already solved my problem with using the `ExpressionTranslationContext`. Whats left is the curiosity as to why my first approach ist not working. Let me try to explain my usecase by including pretty much everything that is happening for one type.

Lets say my local client library exposes the following property through some controller:

[code]

Since this hides the existance of the

[2022-06-23 20:24] 6bee commented on #110
Awesome, thanks for clarifying.
I would expect the Include expressions get lost in the first call to `ExecuteWithEntityFramework` as the `IQueryable` is not of the proper EF queryable type. Please note that in contrast to `RemoteQueryable.Factory`, where expressions are mapped and kept as close as possible to their original, server side execute methods like `ExecuteWithEntityFramework` are designe

[2022-06-24 07:29] Roiskia commented on #110
Ok, now i do understand whats happening. Since the second call to `ExecuteWithEntityFramework` in the `_serviceDataProvider` does not return an `IQueryable` of the correct type anymore, the first `ExecuteWithEntityFramework` cant apply the include. That makes a lot of sense.

Also, subtyping `EntityFrameworkExpressionExecutor` and using it instead of the `ExecuteWithEntityFramework` extension does

[2022-06-24 07:29] #110 closed, assigned to nobody

[2022-07-27 23:08] ErikPilsits-RJW opened #111 "Server deserialization exception"
I'm setting up Remote.Linq to run on .net6 with EF Core and System.Text.Json. I believe I have the framework serializer setup correctly.

[code]
I can successfully make requests. However if I try to project to an anonymous object, I get the following exception before my controller method is even called.

[code]
Here is my query.
[code]
And here is the request body as logged by asp.net core.
[code]

[2022-07-28 11:24] 6bee commented on #111
I don't think there's anything wrong with your setup. It might actually be a shortcoming of the handling of anonymous types.... I need to have a second look there.

As a workaround you could always use DynamicObject to "wrap" the query expression for sending to the web api.

[2022-07-28 11:58] 6bee commented on #111
While adding the declaration type for anonymous type's properties would solve this issue, the fix would also introduce circular reference to this object tree and therefore was to lead to a bunch of new issues concerning other serialization frameworks.

I hope you're ok with submitting query expressions as `DynamicObject` in order to work around this limitation:
[code]
[code]

[2022-07-28 13:40] ErikPilsits-RJW commented on #111
I will test it out to verify it works, but I have no issue with it. It's easy enough to hide the mapping behind an extension method.

Couple quick questions:
1. Is `DynamicObjectMapper` safe to use as a single static class object (thread safe, reentrant safe), or do I need a new one every time?
2. Same question for `RemoteQueryable.Factory.CreateAsyncQueryable`.

Thank you!

[2022-07-28 13:58] ErikPilsits-RJW commented on #111
Wrapping in `DynamicObject` does indeed work :)

[2022-07-28 14:07] 6bee commented on #111
`DynamicObjectMapper` can be re-used ~but it's not thread safe~.

To my knowledge `RemoteQueryable.Factory` extension methods are thread safe.

[2022-07-28 14:16] ErikPilsits-RJW commented on #111
I actually meant the result of that method ... the `IAsyncRemoteQueryable`. Is that object safe to reuse and thread safe?

[2022-07-28 14:35] 6bee commented on #111
I just realized `DynamicObjectMapper` actually is thread safe and so are `IQueryable<>` types produced via `RemoteQueryable.Factory` extension methods.

[2022-07-28 17:54] ErikPilsits-RJW commented on #111
Awesome, thank you!

I had one last unrelated question if you don't mind ... I'd ultimately like to be able to use automapper's (or similar) `ProjectTo` feature, which essentially creates a `.Select()` expression for you to map from the db model to a local model. Automapper doesn't work as-is, there a type cast exception in the ProjectTo method.

[code]

However I'm hitting walls when it comes to

[2022-07-28 19:54] 6bee commented on #111
I'm afraid I have absolutely no experience on current versions of automapper.

[2022-07-28 23:14] ErikPilsits-RJW commented on #111
Ok, last question then. Do you support projection via `.Select()` into a client side concrete class, that doesn't exist on the server? I tried for example
[code]
but that doesn't work because the server can't resolve the `localmodel` type and throws an aqua type exception.

[2022-07-29 11:46] 6bee commented on #111
You have two options there:

1. Have a server entity type that correspond to client entity type (i.e. same data members) and apply type mapping on server via custom ITypeResolver:
[code]

2. Include property information of client entity type (via custom ITypeInfoProvider) and have server automatically emit a corresponding type at runtime:
[code]

[2022-07-29 15:00] ErikPilsits-RJW commented on #111
Option 2 is what I need, thank you!

[2022-08-01 18:01] #111 closed, assigned to 6bee

[2022-08-01 18:15] ErikPilsits-RJW opened #112 "Subqueries with EF Core"
I'm having a few issues with the translation of subqueries.

First one, which works as expected directly in an EF context, instead tries to select the entire table via Remote.Linq.
[code]

Same thing with a simple (contrived in this case) aggregate.
[code]

Second one is similar but also has a join, cannot be translated with the following exception.
[code]

[code]

Removing the `where` clause exec

[2022-08-30 15:04] vgb1993 opened #113 "[Question] Is this compatble with ASP.NET Core WebApi controllers?"
All the samples I've seen create a Server using Kestrel, I've also seen the MVC one but that uses DisableEndpointRouting

I wonder, can I use this with my already existing WebApi without opening a new port? I haven't founnd any example with controllers.

Cheers, looks promissing.

[2022-08-30 15:23] 6bee commented on #113
Yes. Sample _24_RemoteQueryable_UsingJsonSerializationOverWebApi_ and _27_RemoteQueryable_UsingXmlSerializationOverWebApi_ demontrate the MVC controller case.

[code]

[2022-09-05 21:00] vgb1993 commented on #113
Ohh thanks, I didn’t see this one!

[2022-09-05 21:00] #113 closed, assigned to nobody

[2022-09-12 14:21] 6bee commented on #112
I've created a repro of the issue on [dotnetfiddle.net](https://dotnetfiddle.net/4opEqr) and posted a question on [stackoverflow](https://stackoverflow.com/q/73690446/2127975), hopping for some help.

[2022-09-23 06:02] JuandreG commented on #100
I'm getting the same issue.

This is what I'm trying to serialize:

`public class Request<T>
    {
        public Expression<Func<T, bool>> Expression { get; set; }
    }
`

[2022-09-27 18:01] pglaspey opened #114 "Ignore Properties"
I have an EF model that has a partial class that has a couple automatic properties

public string SomeProperty { get; set; }

These throw exception when using remote.linq with error message

Invalid column name 'SomeProperty'.

Is there a way to ignore these custom properties that are not mapped to DB? Other custom properties that are not automatic properties are working fine.

Thanks.

[2022-09-27 20:05] 6bee commented on #114
If possible you may annotate corresponding properties with `Aqua.Dynamic.UnmappedAttribute`.

Otherwise you may subtype `Aqua.Dynamic.DynamicObjectMapper` class and override `GetPropertiesForMapping` method.

[2022-09-27 21:03] pglaspey commented on #114
Thanks. I can use the first method. Appreciate the quick response and the great software!

[2022-09-27 21:13] 6bee commented on #114
Awesome - thanks for your feedback !

[2022-09-27 21:13] pglaspey commented on #114
Unfortunately the first option did not work. Still get same error.

![image](https://user-images.githubusercontent.com/13058050/192636519-d520ecf3-3484-44f1-991c-af6b631b92b9.png)

[2022-09-27 21:14] pglaspey commented on #114
here is example of the annotation. The Browsable annotation is there for ui stuff.

[Browsable(false)]
		[Aqua.Dynamic.Unmapped()]
		public string PortalInvoicePaymentUrl { get; set; }

[2022-09-27 21:22] 6bee commented on #114
Can you please provide more details about the exception and the operation you're trying to perform?

Ideally you could provide a repro of the issue e.g. by modifying the [EF Core unit tests](https://github.com/6bee/Remote.Linq/tree/main/test/Remote.Linq.EntityFrameworkCore.Tests) or [EF Core sample](https://github.com/6bee/Remote.Linq/tree/main/samples/41_RemoteQueryable_ToEntityFrameworkCore).

[2022-09-27 21:35] 6bee commented on #114
I'm wondering whether you're able to query the corresponding entity using plain EF Core since I'm getting the same exception when adding properties that cannot be mapped to the DB table?

[2022-09-27 21:51] pglaspey commented on #114
It is working otherwise in my app (not using remote.linq just fine.

I am using 6.3.1 of remote.linq (sorry did not mention this earlier)

[2022-09-27 21:52] pglaspey commented on #114
as a side note. We are not using core. we are still on .net.

[2022-09-27 21:54] pglaspey commented on #114
sorry one more comment. I am not really happy with these two fields being here, but I am in middle of release cycle and I am trying to avoid hitting other systems with the current project if I can avoid it. The mapping annotations would be perfect if they can work, otherwise I may have to refactor those properties to somewhere else.

Thanks.

[2022-09-27 22:06] pglaspey commented on #114
I just saw your repro request. I am not using core and the solution I have this in is very large and complex. I may just have to move the properties elsewhere. I have two other entities working perfectly with this setup (they dont have the custom property problem). Thanks for the assistance.

[2022-09-27 22:06] #114 closed, assigned to nobody

[2022-09-27 22:17] 6bee commented on #114
I see. So you're specifying corresponding properties as ignored in your entity mapping?
[code]

However, if I do the same in the [EF sample](https://github.com/6bee/Remote.Linq/tree/main/samples/40_RemoteQueryable_ToEntityFramework) I don't get any issue with the remote linq queries either. Hence, I'd still need more info to be able to repro the issue.

[2022-09-27 22:24] pglaspey commented on #114
understood. I think I will just move those properties. We have a custom system to generate our mapped entities and mapping files. Too complex to deliver a repro.

[2022-10-07 18:04] KarloX2 opened #115 "Sample for using System.Text.Json ?"
Hi!

On the main readme page you mention (at the very end) that support for System.Text.Json formatting is included. But the only samples I can find are for Newtonsoft.Json.

Could you provide a sample for  System.Text.Json, too?

Thanks!

[2022-10-07 18:23] 6bee commented on #115
The samples have all been created before _System.Text.Json_ was available.
However, concerning usage with remote linq, the two serialization frameworks are not that different:
[code]
Would that be sufficient for your needs?

[2022-10-07 18:36] KarloX2 commented on #115
I'll check it out. Thanks

[2022-10-07 18:36] #115 closed, assigned to nobody

[2022-10-09 06:18] KarloX2 commented on #112
Hello!
I read thru this issue thread and also read the linked stackoverflow question and the answer I find there.
Frankly, this all is hard to understand.
I'm a little concerned. It sounds like a show-stopper when working with EF-Core (and that's what I'm planning).
Can this be reliably fixed in Remote.Linq and, if so, when will the fix be released?

Thanks!

[2022-10-10 23:05] 6bee commented on #112
@KarloX2 The issue basically has been fixed already. I just haven't found time yet to implement a clean solution. While the issue seems specific for EF Core, the fix is implemented in general _remote.linq_ component. I probably provide a patch version as is and leave required refactoring for a proper implementation for vNext.

[2022-10-11 05:09] KarloX2 commented on #112
@6bee Hi Christof, that sounds good.
I don't want to push, of course, but could you give an approximate time frame? I am preparing a presentation and I would like to propose Remote.Linq as a possibility. It would be better if the bug is fixed by then, otherwise there will be concerns about this solution.

[2022-10-14 01:15] roly445 opened #116 "Private construstors"
I am looking to use Remote.Linq on a project, however, my entities have private constructors.  Is there a way I can get this to work, or do they have to be public?

Thanks

[2022-10-25 15:21] 6bee commented on #116
Hi @roly445
Sorry for the delay, I missed out on this one.
These are your options:
1. You may use any object type/format for data transfer and use the according overload of method `RemoteQueryable.Factory.CreateQueryable` to specify a custom `Remote.Linq.DynamicQuery.IQueryResultMapper<T>` for converting your DTO into the expected entity type (or query result as it is).
2. By default `Aqua.Dynamic

[2022-10-25 20:12] 6bee commented on #116
Using version _7.1.0-alpha-001_ you may customize result mapping as shown below.

By overriding `DynamicObjectMapper.MapFromDynamicObjectGraph` you may take care of mapping an entire instance while `DynamicObjectMapper.TryGetObjectFactory` lets you just provide a new instance without assiging property values.

Pre-release package versions are available on https://www.myget.org/F/aqua/api/v3/index.

[2022-10-26 07:48] 6bee commented on #112
@KarloX2 As written above, the issue has already been resolved (although no new package had been released yet).
You may now test the fix using version _7.1.0-alpha-001_ available on https://www.myget.org/F/aqua/api/v3/index.json

[2022-10-26 08:14] KarloX2 commented on #112
@6bee , thanks. Yes, I would like to try it. But the link you provided returns a json object. I don't know how to retrieve the binaries from it?

[2022-10-26 08:29] 6bee commented on #112
You may use the link as nuget package source in [VS](https://learn.microsoft.com/en-us/nuget/consume-packages/install-use-packages-visual-studio#package-sources) or in [nuget.config](https://learn.microsoft.com/en-us/nuget/reference/nuget-config-file) or on [CLI](https://nuget-tutorial.net/en/tutorial/100005/nuget-cli).
See [package-source-mapping](https://learn.microsoft.com/en-us/nuget/consume-p

[2022-10-26 15:08] 6bee commented on #112
Intended code refactoring is complete and may be tested using version _7.1.0-alpha-002_
(nuget feed: https://www.myget.org/F/aqua/api/v3/index.json)

[2022-10-26 17:45] KarloX2 commented on #112
@6bee Thanks for providing this preview version.

I've been struggling to get something to work in my demo app, but it's very difficult. You have an overwhelming number of examples, but they are pretty interconnected I suppose. I just can't find the right way to figure out what I need and put the pieces together.

My scenario: I have modeled a gRPC server with RPC calls with .proto. The arguments

[2022-10-26 18:44] 6bee commented on #112
@KarloX2
This seems rather unrelated to this issue ;)
There's no out-of-the box support for gRPC. You may want to try using _Remote.Linq.protobuf-net_ to integrate remote linq with protobuf (note that only proto2 is supported).
However, for starters I suggest you pick and examine one of the samples. There is one for protobuf-net too. Feel free to open a new issue in case of specific questions.

[2022-10-28 08:50] JuandreG opened #117 "Newtonsoft.Json.JsonReaderException & System.Text.Json.JsonException"
Hello.

First of all thank you for this great package, it opens so many doors for functionality.

When I pass this query to the server:
`(x) => response.Data.Any(y => x.Identifier == y.RelatedPosition.Identifier)`

Data, in this case, is of type IList<Entity>

I get the following 2 exceptions:

- Newtonsoft.Json.JsonReaderException: Unterminated string. Expected delimiter: ". Path 'Expression.Argu

[2022-10-28 10:03] 6bee commented on #117
Hi,
Unfortunately my attempt to reproduce this issue was unsuccessful.
I've modified sample _22_RemoteQueryable_UsingJsonSerializationOverTcp_ to mimic your query. Maybe you want to have a look to help reproduce the issue using this sample (checkout branch _[experimental/repro-117](https://github.com/6bee/Remote.Linq/tree/experimental/repro-117)_). A repro by unit test or your own code sample woul

[2022-10-28 10:34] JuandreG commented on #117
Let me first show you how I send the query to the server from the client:

The query being sent:
`
Expression<Func<TEntity, bool>> expression
`
How it's being sent:
`
var settings = new JsonSerializerSettings().ConfigureRemoteLinq();

var lambda = expression.ToRemoteLinqExpression();
var payload = JsonConvert.SerializeObject(lambda, settings);

var message = new HttpRequestMessage()
{
    Method =

[2022-10-28 10:52] JuandreG commented on #117
Let me first show you how it is sent to the server:

[code]

What is received and compiled by server controller method:

[code]

The following is where it breaks:

`
var remote = JsonConvert.DeserializeObject<LambdaExpression>(payload, settings);
`

Maybe I'm doing something wrong?

[2022-10-28 14:58] 6bee commented on #117
Given your information, I've put together [some code that should reproduce the issue](https://dotnetfiddle.net/ORldCQ) - yet so far it doesn't throw ;)

Maybe you can tweak it, especially setting up the _response_ variable used within your expression, to reproduce the error.

Besides this, some general thoughts:
- If `(x) => response.Data.Any(y => x.Identifier == y.RelatedPosition.Identifier)` is

[2022-10-28 15:15] roly445 commented on #116
Ok, thanks.  Does that mean I would need to have a condition for each of my entities?

[2022-10-28 15:19] 6bee commented on #116
For the sample provided it would need to be a condition for all entities that apply. This could be based on type, base type,   interface, namespace, assembly, some attribute, etc.

[2022-10-31 06:18] JuandreG commented on #117
Wow you were quite spot on with your recreation of what I have, nice :D. Thanks for your response, I'm going to make changes based on your suggestions.

One again, great library!

[2022-10-31 06:18] #117 closed, assigned to 6bee

[2022-11-15 14:24] 6bee commented on #116
Changes relevant for this issue have been release as of version 7.1.0

[2022-11-15 14:24] #116 closed, assigned to 6bee

[2022-11-15 14:26] 6bee commented on #112
Fix for this issue has been released as of version 7.1.0

[2022-11-15 14:26] #112 closed, assigned to 6bee